[2016-10-10 08:30] lanybass opened #1 "some syntax error on installing"
byte-compiling build\bdist.win32\egg\pyntcloud\pyntcloud.py to pyntcloud.pyc
  File "build\bdist.win32\egg\pyntcloud\pyntcloud.py", line 357
    def get_KDTree(self, *args, element='vertex', and_set=True):
                                      ^
SyntaxError: invalid syntax

byte-compiling build\bdist.win32\egg\pyntcloud\ransac\ransac.py to ransac.pyc
byte-compiling build\bdist.win32\egg\pyntcloud\

[2016-10-10 09:24] daavoo commented on #1
Hi!

The first syntax error I suspect that is because you are not using python3 (my fault, I now specified that this is the required version in the README). You can read [more info here](https://www.python.org/dev/peps/pep-3102/). Anyway I change the sintax of the function.

The second one is fixed.

Please be aware that I haven't released the 0.1 version yet and there is a lot of changes that I h

[2016-10-10 09:24] #1 closed

[2017-03-13 19:38] daavoo opened #5 "New scalar field: Normals"
To be added in scalar_fields/k_neighbors.

Use [Hugues Hoppe 92](hhoppe.com/recon.pdf) to compute normals based on eigen values.

Use [Scipy sparse matrix and graph routines.](https://docs.scipy.org/doc/scipy/reference/sparse.csgraph.html) for build and transverse Riemannian graph.

[2017-03-17 09:44] daavoo opened #7 "Fix Travis CI load files"
Travis if failing to pass test that require loading a file from test/data although test are passing locally.

I suspect that has something to do with the backslash used  in the strings.

[2017-03-17 09:45] daavoo opened #8 "Refactoring geometry"
Create abstract class GeometryModel and make Plane and Sphere childs.

Think something to rearange the areas and other things in geometry.

[2017-03-17 09:55] daavoo opened #11 "Create Documentation"
http://www.sphinx-doc.org/en/stable/index.html

[2017-03-20 18:40] #8 closed

[2017-03-20 18:40] #7 closed

[2017-03-29 11:54] daavoo opened #20 "Integrate pypcd"
https://github.com/dimatura/pypcd

- [x] `read_pcd`
- [ ] test for `read_pcd`
- [ ] write_pcd
- [ ] test for write_pcd
- [ ] read_ros
- [ ] test for read_ros
- [ ] write_ros
- [ ] test for write_ros

[2017-04-03 11:23] daavoo commented on #20
read_pcd added in #22

[2017-04-05 08:53] daavoo opened #24 "New scalar field: EuclideanClustering"
Probably will need to add numba as dependency (it's time)

[2017-04-06 08:13] daavoo opened #25 "Readthedocs not rendering autodoc"
https://readthedocs.org/

[2017-04-07 09:39] daavoo opened #26 "Use PLYLOADER and JSONLOADER for ploting"
- [x] Load mesh/point cloud with PLYLOADER
- [x] Load configuration with JSONLOADER

[2017-04-07 17:39] #26 closed

[2017-04-07 17:42] daavoo opened #28 "Add early stop to single_fit"

[2017-04-07 17:45] daavoo opened #29 "Add least squares fit to existing ransac models"

[2017-04-08 13:37] #28 closed

[2017-04-08 16:44] daavoo opened #31 "Implement `r_neighbors`"

[2017-04-10 08:17] #11 closed

[2017-04-10 08:19] daavoo opened #33 "Integrate laspy"
https://github.com/laspy/laspy

- [ ] TEST
- [x] read_las
- [ ] write_las

[2017-04-10 10:06] daavoo opened #34 "Test coverage"
- [x] Test for core Class functionallity
- [ ] All scalar fields
- [ ] Geometry

[2017-04-10 10:32] daavoo opened #35 "Integrate threeDlearn as new module: learn"

[2017-04-10 10:37] #35 closed

[2017-04-10 10:48] daavoo opened #37 "Make structures follow the API using ABC"

[2017-04-10 13:23] #37 closed

[2017-04-10 13:24] daavoo opened #39 "New structure: HashGrid"
For fast r_neighbor query and other stuff

[2017-04-10 14:26] #39 closed

[2017-04-11 13:02] #24 closed

[2017-04-17 09:18] daavoo opened #45 "Merge structures into one single attribute"

[2017-04-17 10:24] daavoo opened #46 "pyntcloud.py -> core_class.py"

[2017-04-17 10:27] daavoo opened #47 "move */base.py to root base.py"

[2017-04-17 10:38] #46 closed

[2017-04-17 10:51] #47 closed

[2017-04-21 10:37] daavoo commented on #34
Basic test for core Class added in #50

[2017-04-22 10:12] daavoo opened #51 "Remove syncrhonous json loader"

[2017-04-23 23:07] cercao opened #52 "Error on call of function plot"
Hi!

I`m trying to run the first code in readme. Probably I`m doing something wrong.. Could you help ?

I`m using a MacBook pro. I`ve installed everything with miniconda (some packages I needed to install globally because miniconda does not have support for some packages to OSx64).

Then a ran in jupyter a test.py with the commands in readme. Also, I`ve downloaded a .ply sample.
The command print(

[2017-04-24 07:46] daavoo commented on #52
Thanks for reporting!

Let me look into this.

Regarding conda packages on Mac OS, I'm working on loading all dependencies to conda-forge, a comunnity-driven alternative to anaconda's default channel.

[2017-04-24 09:01] daavoo commented on #52
Found the problem. You were not doing something wrong. I forgot to add data filles (with no .py extensions) in setup.py, so the points.html file is missing. I'll fix this soon.

Pd. I'm insteresting in knowing wich packages failed to install using the pyntcloud_env.yml file, could you pass me a list??

[2017-04-24 09:39] daavoo opened #53 "add MANIFEST.in"

[2017-04-24 09:53] daavoo opened #54 "Coordenate system converter"
- [x] Spherical - Cartesian
- [x] Cartesian - Spherical
- [x] Cylindrical - Cartesian
- [x] Cartesian - Cylindrical
- [x] Spherical - Cylindrical

[2017-04-24 10:16] daavoo opened #55 "Re-write API with stand-alone function calls"

[2017-04-24 18:25] #52 closed

[2017-04-24 18:25] #53 closed

[2017-04-24 18:26] daavoo commented on #52
@cercao Please could you confirm that this is fixed on Mac Os??

[2017-04-25 18:16] daavoo opened #57 "Re-organize docs/QuickStart/Readme"
- [x] Move quickstart from readme to a standalone notebook.

- [x] Add script to launch quickstart notebook (Also serve as test for correct installation).

[2017-04-25 18:19] daavoo opened #58 "Implement pytorch Models"
- [x] VoxNet (already implemented in keras)
- [ ] Voxception-ResNet

[2017-04-25 18:19] daavoo opened #59 "Add datasets"
- [ ] 3DMNIST
- [x] ThreeDimFolder
- [x] MODELNET (http://modelnet.cs.princeton.edu/)
- [ ] Semantic3D (http://www.semantic3d.net/)

[2017-04-25 18:24] daavoo opened #60 "Lidar Birdseye and Front view creation using VoxelGrid"

[2017-04-25 19:18] daavoo opened #61 "Add PyntCloud.split_on(sf, return=False, save=False, save_format="ply")"

[2017-04-28 11:04] daavoo opened #64 "ASCII files"

[2017-04-29 15:52] #57 closed

[2017-04-30 19:16] #64 closed

[2017-05-01 12:25] #31 closed

[2017-05-01 14:44] daavoo commented on #25
:1st_place_medal:

[2017-05-01 14:44] #25 closed

[2017-05-02 17:06] #51 closed

[2017-05-03 16:10] daavoo opened #76 "add PyntCloud.apply_filter"

[2017-05-03 16:11] daavoo opened #77 "add write_ascii"

[2017-05-04 16:12] #45 closed

[2017-05-05 11:20] #76 closed

[2017-05-05 16:49] #61 closed

[2017-05-08 12:06] daavoo commented on #58
VoxNet in #83

[2017-05-08 18:15] daavoo commented on #59
ThreeDimFolder and ModelNet in #84

[2017-05-24 15:01] #77 closed

[2017-06-07 17:43] threerivers3d-jc opened #94 "Bounding Box Filter"
I've noticed that the bounding box filter does not work for the z axis.  I've got it work on x and y but for some reason it will not apply to the z direction.  Any thoughts on why this is happening or what im doing wrong?

[2017-06-07 17:57] daavoo commented on #94
Could you share sample code and data??

[2017-06-07 21:00] threerivers3d-jc commented on #94
So I was trying to refine my sphere fits by finding them roughly, creating a bounding box around their min and max then applying another tighter sphere fit to get precise measurements.  This is after I've found the sphere center and radius from the initial fit.

[code]

This is the points for the original pointcloud

pyntcloud.points.round(3)
0     24.676001  -1.886000   3.539000          1
1

[2017-06-07 21:33] daavoo commented on #94
Umm code of bbox filter looks fine. I'll look into this tomorrow.

El 7 jun. 2017 23:00, "Justin Cole" <notifications@github.com> escribió:

[2017-06-08 09:14] daavoo commented on #94
Ok. So, In order to reproduce the result I need the full point cloud, the printed output that you are sharing on the commnent does not contain all the points.

If the point cloud is not quite big, you can copypaste all the coordinates in a https://gist.github.com/ and share the link.

I also need to know what is the value of `radius`.

And finally, if I understand correctly, you are doing this to

[2017-06-08 14:40] threerivers3d-jc commented on #94
Ah, sorry about that.   [The ply file is here](https://gist.github.com/threerivers3d-jc/84d90ad35987a9c2d4ff660663d282f0).  The ideal radius is 9.5, I'm using your library to check the calibration of our 3d scanners and this is an in process check.

I've found so far that the ransac is pretty fast with some loose arguments and then giving it a smaller section of the file with tighter arguments get

[2017-06-08 14:47] threerivers3d-jc commented on #94
So I am using this code to get the center and radius after I run the sphere_fit,  [this might help ](http://jekel.me/2015/Least-Squares-Sphere-Fit/)

[code]

[2017-06-08 18:49] daavoo commented on #94
I'm a little busy this week. I'll try to look into this as soon as possible.

In the internal loop, when `sphere_fit` is fitting the model to the Point Cloud, it generates a instance Sphere from pyntcloud.geometry.sphere. That Sphere has a `radius` attribute.

Right now the `return_model` kwarg in ransac.single_fit does not work because of the lack of a least squares fit for the geometry models.

[2017-06-08 18:51] daavoo commented on #94
The link looks quite useful. Many thanks! :smile:

[2017-06-08 19:35] daavoo commented on #94
@threerivers3d-jc

I'm fixing the 'z' coordinate bug of the bbox filter in #95 .

Let's continue the conversation about the least square fitting in #29

[2017-06-08 22:21] #94 closed

[2017-06-08 22:28] threerivers3d-jc commented on #29
so I was playing around and made a sphere generator today if you are interested in using it for testing the sphere fit.

[Here's the code for it and the noise generator.](https://gist.github.com/threerivers3d-jc/4a28f4cb5bf1141602ffd7744c36bd84)

[2017-06-09 19:31] daavoo commented on #29
Will take a look!. Thanks

[2017-06-14 10:08] daavoo opened #97 "force float32 dtype in Pandas DataFrame"
float64 (the default dtype) breaks binary formats, threejs plot and probably other stuff

[2017-06-14 10:46] daavoo opened #98 "fix spherte.get_projections"
Something wrong when plotting the projections

[2017-06-14 11:08] daavoo commented on #29
So I added the least squares fit code. Now you can pass return_model to ransac.single_fit:

[code]

[2017-06-14 11:27] daavoo commented on #29
@threerivers3d-jc I will probably add the sphere generator code somewhere in the geometry package. The noise code is not working for me, I'll take a look on how to fix it.

By the way, be aware of converting the dtype of pandas DataFrame to float32 until I fix #97 . float64 is the default in numpy and pandas and it breaks things in ply format for example and in PyntCloud.plot

[2017-06-14 11:27] #29 closed

[2017-06-14 14:31] threerivers3d-jc commented on #29
Awesome, thanks for the heads up.  I am using my own function to plot in figure windows as I develop in spyder instead of jupyter notebook, I haven't noticed any errors in my work so far.  I'll keep an eye out for them.  I'm mainly working on working through our past data sets to compare my measurements to the old matlab script we currently use.

[2017-06-15 09:54] #97 closed

[2017-06-22 10:51] #54 closed

[2017-06-24 02:02] VenoMamba commented on #98
Hey, David! Sorry to interrupt you. I’m building a CNN model by using Keras with Theano as its backend. There is a problem bothering me with the Flattern layer. I’ve seen you help others with a similar problem on https://stackoverflow.com/questions/42699956/3d-convolutional-neural-network-input-shape
Here are the problem and the code.
ValueError: The shape of the input to “Flatten” is not fully de

[2017-06-24 09:28] daavoo commented on #98
Hi @VenoMamba . This is not related with this issue or this library at all. Could you please ask the question on stackoverflow??

Thanks

[2017-07-01 16:55] timzhang642 opened #107 "Package Missing in osx-64 Channels"
Hi,

I am using Anaconda on an OSX-64 machine. While I was trying to create the pyntcloud environment with the enviroment.yml, it prompted the following error:

[code]
Do you know how to solve this?

Thanks!

[2017-07-01 18:54] daavoo commented on #107
Holly molly. I have no idea where that dependency comes from :astonished: and I have to admit that I didn't tested the enviroment in OSX.

Can you try to install the dependencies listed in the requirements section of https://github.com/daavoo/pyntcloud and see what is the package that generates the conflict in OSX??

[2017-07-04 17:08] daavoo commented on #107
Ok. So I found the problem. The conda-forge matplotlib package comes with gstreamer as dependency for some reason. In addition, the current enviroment.yml has some unnecessary dependencies.

I'm going to update the installation documentation to make things clearer and add new enviroment and requirements file.

[2017-07-04 21:05] daavoo commented on #107
I tested the new enviroment files #110 on OSX and everithing went fine.

@timzhang642  Can you confirm this?

[2017-07-05 00:00] timzhang642 commented on #107
I tried using the new env.yml and it installed fine until reaching "cycler==0.10.0". Below is the error message returned:

`Collecting cycler==0.10.0`

 ` Downloading cycler-0.10.0-py2.py3-none-any.whl`
`dyld: lazy symbol binding failed: Symbol not found: _fdopendir$INODE64
  Referenced from: /Users/yuxuanzhang/anaconda/envs/pyntcloud/lib/libpython3.6m.dylib
  Expected in: /usr/lib/libSystem.B.dyl

[2017-07-05 06:23] daavoo commented on #107
:(

What  OSX are you using??

Are you running it in virtualbox or something like that??

Seems to be a problem with matplotlib+OSX.

I will upload a new env file for you to try.

[2017-07-05 07:29] #34 closed

[2017-07-05 15:17] timzhang642 commented on #107
`ProductName:	Mac OS X`
`ProductVersion:	10.9.2`
`BuildVersion:	13C64`
`Python 2.7.13 :: Anaconda custom (x86_64)`

I'm running it under the current OS, no virtualbox involved, for now. Your help is much appreciated!

[2017-07-05 15:43] daavoo commented on #107
Can you try with this enviroment file:

https://gist.github.com/daavoo/4a4750aadea7554c65d49d02c410eac2

It tries to install matplotlib from anaconda defaults channel.

[2017-07-05 16:41] timzhang642 commented on #107
This is time it returns this:
`Collecting laspy==1.5.0
  Using cached laspy-1.5.0-py3-none-any.whl`
`dyld: lazy symbol binding failed: Symbol not found: _fdopendir$INODE64
  Referenced from: /Users/yuxuanzhang/anaconda/envs/pyntcloud/lib/libpython3.6m.dylib
  Expected in: /usr/lib/libSystem.B.dylib`

`dyld: Symbol not found: _fdopendir$INODE64
  Referenced from: /Users/yuxuanzhang/anaconda/envs/py

[2017-07-05 16:42] timzhang642 commented on #107
matplotlib-2.0 was installed successfully though

[2017-07-05 17:09] daavoo commented on #107
Getting a different error is always a nice thing xD

This time the problem is laspy.

I'll look into this.

[2017-07-10 22:33] #55 closed

[2017-07-19 08:14] jazzyearrings commented on #5
Hi, how can I get the normal to a point from PCA analysis with pyntcloud? I hope to do Poisson surface reconstruction.

[2017-07-19 08:35] jazzyearrings commented on #5
Hi, how can I use this functionality, to get normal to a point using k neighbors?

[2017-07-19 09:42] daavoo commented on #5
Hi @jazzyearrings . This issue is still open because I haven't implemented part of the functionality yet.

You can right now obtain the normals with the following code (make sure to re-install or git pull because I just merged a pull request #118 with this):

[code]
And you should now have 3 new columns in cloud.points (nx, ny, nz) wich represent the x,y,z coordinates of the normal vector associat

[2017-07-24 18:38] #98 closed

[2017-07-24 18:39] #59 closed

[2017-07-24 18:40] #58 closed

[2017-07-24 18:41] #33 closed

[2017-07-24 18:41] #20 closed

[2017-07-24 18:42] #60 closed

[2017-09-25 04:43] walterwang opened #124 "load more than one point cloud in the same viewer [request]"

[2017-09-27 09:37] daavoo commented on #124
Working on it :)

[2017-10-13 14:19] gkericks opened #126 "render as an image file [request]"
I couldn't find a way to do this currently. I want to be able to render a pointcloud as a 2-d image. So like what I see when I call plot() but to save that as an image file. I couldn't figure out how to do that currently.

[2017-10-19 07:04] daavoo commented on #126
I'm going to add a "Screenshot" button to the 3D renderer. More info comming soon.

[2017-10-19 07:32] daavoo commented on #126
Screenshot button added in #128

On click, it will open a new window in your browser with a image ready to be downloaded:

![captura de pantalla de 2017-10-19 09-25-30](https://user-images.githubusercontent.com/12677733/31759049-55cbc912-b4b0-11e7-853c-97e8b1e3a3cd.png)
![captura de pantalla de 2017-10-19 09-25-44](https://user-images.githubusercontent.com/12677733/31759050-55ed931c-b4b0-11e7-9952

[2017-10-19 07:32] #126 closed

[2017-10-31 10:44] iindovina opened #129 "Uploading to PyPI"
Hi, do you have any plans to upload the code to PyPI to make it pip installable without git reference? It would be a great addition and simplify setup and installation. Thank you, cheers

[2017-10-31 17:08] gkericks commented on #126
From what I can tell this works on Firefox but not Chrome. Thanks!

[2017-11-04 12:33] daavoo commented on #129
Hola. Planning release first "stable" version before 2018. I'm a little busy at work right now but  I'll try to find some time.

[2017-11-04 15:40] iindovina commented on #129
No problem, thanks a lot for your work. I have modified a bit your package structure to make it succesfully pip installable without the dependencies (assuming there is no dependency problem in general), you can find the PR here.. https://github.com/daavoo/pyntcloud/pull/130
I've also tried to take out some code that calls matplotlib, so that it doesn't add additional dependencies unless needed. By

[2017-11-07 15:02] pierrebaque opened #131 "Saving png"
Hello,

Is it possible to save a pointcloud .plot image as a png?

Thank you

Best,
Pierre

[2017-11-21 19:30] daavoo opened #132 "Integrate pypcd"
https://github.com/dimatura/pypcd

- [x] `read_pcd`
- [ ] test for `read_pcd`
- [ ] write_pcd
- [ ] test for write_pcd
- [ ] read_ros
- [ ] test for read_ros
- [ ] write_ros
- [ ] test for write_ros

[2017-11-21 19:30] daavoo opened #133 "Integrate Laspy"
https://github.com/laspy/laspy

- [ ] TEST
- [x] read_las
- [ ] write_las

[2017-11-21 19:30] daavoo opened #134 "Lidar Birdseye and Front view creation using VoxelGrid"

[2017-11-21 19:30] daavoo opened #135 "Add poinnet model"

[2017-11-21 19:30] daavoo opened #136 "Add 3D datasets"

[2017-11-21 19:30] daavoo opened #137 "fix spherte.get_projections"
If you visualize the projections strange things happen

[2017-11-21 19:40] daavoo opened #138 "fix strange behavior of .plot() in jupyter"
Point cloud is not showed but all fine when the html is open individually it all works

[2017-11-21 19:40] daavoo opened #139 "fix screenshot in chrome"

[2017-12-05 13:46] felix-tracxpoint commented on #5
Are they oriented now or still unoriented?

(Great job, anyhow!)

[2017-12-08 12:33] themmes commented on #135
Dear @daavoo, you raised this issue adding PointNet, but included VoxNet so far. What direction is this going?

[2017-12-08 13:00] themmes commented on #138
I am having the same problem using Jupyter, but downloading the html does not offer a workaround. Chrome throws an error on loading the pointcloud `ply` file.

`Failed to load file:///C:/Users/hemmest/Downloads/plot/plot/pyntcloud_plot.ply: Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https.`

[2017-12-08 13:23] themmes commented on #107
I have not much experience in this, bit maybe you can avoid the laspy dependency and its difficult laszip dependencies by using this https://github.com/verma/plasio/blob/master/js/laslaz.js Javascript implementation? Since you're making a nice combination of python and js already?

[2017-12-08 17:13] daavoo commented on #138
Hola @themmes . I'm still trying to find what the problem with jupyter is. The problem with the downloaded html and Chrome is that chrome doesn't allow javascript to load local files by default. You can do 2 things:
- Launch the chrome executable with the flag `--allow-file-access-from-files`
- Launch a simple server where the html is.  Probably the simplest way is running: `python3 -m http.server

[2017-12-08 17:14] daavoo commented on #135
I'm having trouble to find time to work on pyntcloud. Implementing pointnet is probably one of the first things that I'll do as soon as I find some time.

[2017-12-08 17:20] daavoo commented on #5
@felix-tracxpoint they are still unoriented 👼 I have a working implementation of oriented normals but it makes use of some libraries that I don't really want to add as dependencies because I'm trying to keep dependencies to the minimum. Hopefully will find some time to work on this soon

[2017-12-08 18:07] daavoo commented on #107
@timzhang642 In #140 I modified the installation process to accept optional dependencies. Laspy and matplotlib are no longer mandatory dependencies. The new installation process will be documented as soon as possible but I'm closing this as I understand that the packages causing the problem are no longer needed for installing pyntcloud. If you DO want to use the features that require laspy or matp

[2017-12-08 18:07] #107 closed

[2017-12-08 18:37] felix-tracxpoint commented on #5
Are you doing something like [this](http://www.cloudcompare.org/doc/wiki/index.php?title=Normals%5COrient_Normals_With_Minimum_Spanning_Tree)?

[2017-12-08 18:46] daavoo commented on #5
I'm doing exactly that

El 8 dic. 2017 18:37, "felix-tracxpoint" <notifications@github.com>
escribió:

[2017-12-09 15:14] themmes commented on #138
Ah of course, sorry to have bothered you with this simple thing!

[2017-12-11 16:22] felix-tracxpoint opened #142 "How to create a subcloud from a known list of indices?"
This is probably a dumb question, but still...

I think I should be using a sampler but which one? and how?

Or does it suffice to just take a subset of the points.values?

[2017-12-11 19:08] daavoo commented on #142
Hola! Thanks for asking, no question is dumb :)

There is no sampler that can do this right now but this might actually be a good addition to PyntCloud.

Assuming that we have a point cloud and a list of indices:
[code]

You have 3 options depending on what you want the subcloud created to be:
---
-  You want the subcloud to be a new fully working PyntCloud
In this case you have to create a filter

[2017-12-14 03:20] devitt commented on #138
I'm really interested in trying this but none of these options are working for me right now.
In a notebook I am trying:
`from pyntcloud import PyntCloud`
`cloud = PyntCloud.from_file('bun000.ply') # stanford bunny`
'cloud.plot()`
That throws an error:
`ValueError: lines and line_colors must be the same length`
Workaround:
`cloud.plot(line_color='')`
But all I get is your logo on a black background

[2018-01-31 09:43] #142 closed

[2018-02-06 13:19] fferroni opened #144 "Refresh plot"
Hi,

Is it possible to refresh the point cloud plot? i.e. displaying a video of point clouds whilst still being able to interact in the browser and changing views?
Alternatively is it possible to take PNGs rather than HTMLs ?

Thanks!

[2018-02-26 06:47] daavoo commented on #138
Hi @devitt . I'm aware of that bug. There are 2 separate bugs there.

One (`ValueError: lines and line_colors must be the same length`) was silently introduced in #143 because of the lack of tests for plotting functions.

The other (empty plot) is related with the use of local javascript dependencies wich are hardcopied to the same folder where the notebook is.

I have been quite busy last months

[2018-02-26 07:01] daavoo commented on #144
- Sorry but displaying a "stream" of point clouds is not currently possible and I don't think it will be added any time soon unless it comes from a external contribution. There might be some options for what you want out there. Maybe [this link](http://wiki.ros.org/ros3djs/Tutorials/Point%20Cloud%20Streaming%20from%20a%20Kinect) can help you.

- There is a "Take screenshot" button that should gene

[2018-02-26 07:49] daavoo commented on #138
`ValueError: lines and line_colors must be the same length`

Fixed in #145

[2018-02-27 13:30] zvikam opened #146 "float type conversion"
Hi,
Was there a particular reason you decided to do the float64->float32 conversion (other than the obvious memory consumption) ?

Can you think of a way to make this conversion optional?

[2018-02-28 07:05] daavoo commented on #146
Hello!

May I know what trouble is causing you this conversion?

As far as I remember, float64 caused the export to binary formats (i.e ply) to fail.

That was the main reason to force the conversion in `PyntCloud.to_file` BUT I don't remember why the conversion is also forced every time `PyntCloud.points` is updated.

I think that the conversion could be easily converted to optional at instantiat

[2018-02-28 08:51] zvikam commented on #146
Hi,
I found your package and wanted to check if I could replace my current PLY package, and then I encountered inconsistencies during testing because some of my existing PLY files store (binary) float64 values.

Your suggestion for an attribute was along the lines of what I had in mind, too.

I'll continue my testing and see if I can figure out the float64 problem in case I encounter it.
I'll also

[2018-02-28 09:35] daavoo commented on #146
The problem I found was that even though I could export/import PLY files with float64 values inside pyntcloud, those files weren't correctly loaded in other programs such as Three.js or CloudCompare so I just decided to force the float32 conversion because any of the logic in pyntcloud was affected by that.

[2018-02-28 10:16] zvikam commented on #146
Ok, so I guess my best option is to implement a conditional conversion (default: enabled).

[2018-03-09 19:23] AcrimoniousMirth opened #147 "Stripped Down Version for RPi Use [Request]"
Hi,
This looks like it'd be the best solution to my problem but for the fact it requires Numba, which, if it is possible to install on the RPi, is very difficult.
Any chance of creating a stripped down version?
I've been on the hunt for a good while for a way to tessellate a point cloud.

[2018-03-09 20:05] daavoo commented on #147
Yes, it shouldn't be too much trouble to make Numba an optional dependency. In fac,t I'm not sure why it is a dependency at all :'(  . I have been planning to make all packages apart from numpy and pandas optional.

I would not have time untill the end of the month to do this, but you can take a look at #140  where something like what you want to do with Numba was done for matplotlib and Ipython.

[2018-03-09 20:35] AcrimoniousMirth commented on #147
I'll take a look at that for sure, I'm actually just needing this to complete my university Honours project, so my urgency:skill ratio is a bit lopsided :P
As such I'm not sure if I'd be able to contribute anything until I'm more developed as a coder if I can I'll be happy to submit a pull request :)

[2018-03-09 21:58] AcrimoniousMirth commented on #147
@daavoo Hey man, just went through all the files and removed numba. Looks like apart from the install it was just called three times. I've forked the build, so go take a look. I've just successfully installed the fork so once I've done some testing I'll submit a pull request :)

[2018-03-09 22:17] AcrimoniousMirth commented on #147
So the only code using numbers appears to be these two bits in **voxelgrid**

` elif mode.endswith("_max"):
            N = {"x_max": 0, "y_max": 1, "z_max": 2}
            return groupby_max(self.points, self.voxel_n, N[mode], vector)

        elif mode.endswith("_mean"):
            N = {"x_mean": 0, "y_mean": 1, "z_mean": 2}
            s = np.zeros(self.n_voxels)
            c = np.zeros(self.

[2018-03-09 22:32] daavoo commented on #147
Ok, now I remember that i was trying numba to optimize the voxelgrid.

You don't have to worry about re-implementing that method *unless* you
explicity need to use it in the RPi.

Just instead of deleting the import, wrap it in a try/exept block like it
is done in the pull request #140 . Then add raise ImportError if numba is
None ( should have been setted in the try/except)  in the method where
N

[2018-03-09 22:36] AcrimoniousMirth commented on #147
@daavoo Will do! Seeing as I've got this far I'm still going to try and see if we can replace the numba versions with the pandas versions.

[2018-03-09 22:54] daavoo commented on #147
As you wish, but if you don't need those feature vectors you can save a lot of work by just:

Adding at the beginning of voxelgrid.py:
[code]
And then replace:
[code]
With:
[code]

[2018-03-09 23:05] AcrimoniousMirth commented on #147
@daavoo Okay!
I've been looking into poisson surface reconstructions and while a bit above me looks to be your speed and well worth adding to pyntcloud if you have a chance :)

[2018-03-13 09:22] shooshx opened #148 "Simple plane fit doesn't work"
this code

    cloud = PyntCloud.from_file(r"E:\run1_first_img.csv")
    plane = PlaneFit(cloud, max_dist=0.1)
    plane.compute()

throws an exception:

[code]

[2018-03-13 09:30] shooshx commented on #148
seems I was missing the line

plane.extract_info()

[2018-03-15 17:36] daavoo commented on #148
You are right about the line missing.

Also, the scalar fields are intended to be use via de `add_scalar_field` method, so in your case the following code will do what you want:

[code]

[2018-03-15 17:36] #148 closed

[2018-03-15 17:40] daavoo commented on #144
Closing this. Feel free to reopen if your doubts have not been resolved :)

[2018-03-15 17:49] daavoo commented on #139
https://stackoverflow.com/questions/2572333/google-chrome-window-open-workaround

[2018-03-23 22:14] cosama commented on #5
I just started with pyntcloud, there is really not much out there to fill that niche. Thanks for your great work so far.

I just tried to calculate normals according to your description with a cloud of >100'000 points. It produces a MemoryError in sf_kneighbors.py at  `graph = np.zeros((n, n), dtype=np.float32)`.

100'000 points doesn't seem that crazy to me, thus maybe worth looking into a method

[2018-03-26 22:41] cosama opened #149 "VoxelgridSampler broken when using with single_fit"
Trying to use single_fit with the VoxelgridSampler outputs the following error message:

Code that causes the error:

`is_plane, model = single_fit(cloud.xyz, RansacPlane, VoxelgridSampler, return_model=True,
                             model_kwargs={"max_dist": 0.2}, max_iterations=100,
                             sampler_kwargs={"voxel_size": 0.1})`

I assume this is because it never calls the

[2018-03-27 05:16] daavoo commented on #5
@cosama Holly guacamoli thank you so much for pointing that. That code should not be merged at master and that is my fault.

The code for orienting the normals is still in progress and I'm still looking for a efficient way of doing the reimanian graph stuff in Python.

[2018-03-27 05:18] daavoo commented on #5
Note.
Take a look at this:
https://onlinelibrary.wiley.com/doi/full/10.1111/cgf.12795
https://github.com/NSchertler/StreamingNormalOrientation

[2018-03-27 17:06] daavoo commented on #149
Thanks for pointing out this bug. As you pointed, self.voxelgrid.compute is not being called in VoxelgridSampler.__init__

[2018-03-27 17:15] cosama commented on #5
Your welcome. Thanks for the links.

I looked at your last commit of sf_kneighbors.py and reverted it. I do not need any orientation, I just want to know if the normals point more up/down or towards the sides in a certain region. It seems to work fine that way.

By the way, normals are by definition a vector, not a scalar field (I know I'm a bit picky here :) ).

[2018-03-31 14:18] daavoo opened #153 "PyntCloud.plot in Windows fails"
The use of numpy's `to_file` causes a bug because of the loss of endianess information. Save the point cloud to be plotted in plain text format.

[2018-04-02 19:31] daavoo opened #154 "[Feature] Add optional n parameter to VoxelgridNearestSampler"
Currently, VoxelgridNearestSampler returns one point for each voxel (the closest to the center).

It should be easy to extend the current implementation in order to sample an arbitrary number of `n` closest instead of just 1.

[2018-04-03 21:09] edent opened #155 "Add colour to point?"
Is it possible to change the colours of individual points in a pointcloud?  For example, having a different RGB value assigned to specific points.

Thanks for the library, BTW, has been very useful.

[2018-04-04 06:49] daavoo commented on #155
If you know the index of the points that you want to change, you can assign RGB values to individual points as follows:

[code]
Is this what you meant?

[2018-04-04 09:34] edent commented on #155
That's perfect! For anyone else searching for the error `KeyError: "['red' 'green' 'blue'] not in index"`,  I fixed this by starting with a DataFrame like:

`df = pd.DataFrame(np.random.uniform(0.1,1.0, size=(1024, 6)),columns=['x', 'y', 'z',"red","green","blue"])

[2018-04-04 09:34] #155 closed

[2018-04-05 10:35] edent opened #158 "Save colour with PLY [bug]"
Thanks for your help with #155 - I now have a coloured pointcloud!

When I do `cloud.to_file("hand.ply", also_save=["mesh","points"])` the resulting mesh is uncoloured.

This is because the header has:
[code]

But colours should be in `uchar` according to http://paulbourke.net/dataformats/ply/
Should [`write_ply()`](https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/io/ply.py#L150) be modif

[2018-04-05 10:45] edent commented on #158
Ah! I need to make sure the DataFrame has the colours as `uint`s

`df[['red','green','blue']] = df[['red','green','blue']].astype(np.uint)`

D'oh!

[2018-04-05 10:45] #158 closed

[2018-04-05 15:42] tejaskhot opened #159 "Plot mesh and point cloud superimposed"
Can we have a function to plot both simultaneously?
Use case: seeing how well a ply model 'fits' a point cloud

[2018-04-05 16:01] daavoo commented on #159
Hola! :)

This seems to be of common intereset (related to  #124)  and I'm working on it.

However, please have in mind that I have very limited time to work on pyntcloud and the plotting is somehow outside of my top priorities (not Python, currently a dirty javascript hack, and already consuming a lot of time in bug fixing it) so contributions to this area are specially welcome :)

[2018-04-05 16:12] daavoo commented on #158
Totally my bad. There should be a type checking exception in write_ply or at least a warning if rgb columns don't have uint8 type

[2018-04-05 16:28] daavoo commented on #146
I was reviewing the code base and I think that the dtype conversion can be moved to the `io` methods, where it's required, so it will be possible to work with float64 columns.

[2018-04-06 11:01] procrastonos opened #161 "RuntimeWarning about division by zero in HueSaturationValue"
When computing the HSV value, there are four possibilities for a division by zero:

https://github.com/daavoo/pyntcloud/blob/100998b8ae9acd7d20adddc85b0d66f5e9f1e677/pyntcloud/scalar_fields/sf_rgb.py#L44-L56

While the resulting `nan` are handled and don't cause any problems, python still produces an annoying RuntimeWarning:

[code]

This could be suppressed, e.g. by wrapping the relevant code
[co

[2018-04-06 17:03] daavoo commented on #161
I'm currently working on the test suite for scalar fields and I'm adding that same snippet to the tests.

Maybe the snippet could be added to the documentation although I think that it is like the first thing that pops if you google the warning.

There are more cases apart from HSV where those warnings are raised even though it's just how things are computed.

I really don't think that we should s

[2018-04-27 11:46] daavoo commented on #5
Unoriented normals added in #163 . No orientation code included for now and remove the code that caused the crash.

Orientation to viewpoint will be added soon.

General orientation is not a very high priority for me but contributions are welcome.

[2018-04-27 11:46] #5 closed

[2018-04-28 10:37] daavoo commented on #131
Closing this. Feel free to reopen if the issue is not solved

[2018-04-28 10:37] #131 closed

[2018-04-28 10:48] #138 closed

[2018-04-28 10:48] #153 closed

[2018-04-28 12:59] #146 closed

[2018-04-28 13:32] #147 closed

[2018-05-02 16:50] w-m commented on #158
I ran into a similar issue today (my color channels were `float` typed), it would be helpful if there were an exception!

[2018-05-07 12:01] MadhavEsDios opened #167 "Rendering Method"
Hey first of all, really amazing work with this library !

Do you plan on changing the rendering framework from javascript(three.js) to lets say something pythonic like python-vtk, mayavi, etc
But I assume there will be some pros and cons too,
1) I feel that three.js is very well maintained and has most of the 3D functionalities that anyone might need, plus the rendering was surprisingly good and

[2018-05-07 18:32] daavoo commented on #167
Hola! Thank you very much.

You are opening my personal pandora's box with this, xD.

The pros and cons you are listening are exactly the ones that I had in my mind when I chose to code the current UGLY AND DIRTY threejs rendering. And I think that those pros/cons are still valid. Each hour I dedicate to the .js rendering code I feel like I could have done 10x times more useful things in the Pytho

[2018-05-07 18:34] daavoo commented on #158
@w-m I take note, thanks for commenting. A exception / silent conversion will be added soon

[2018-05-08 08:16] hildensia opened #168 "Loading obj file doesn't work for objects which do not only consist of triangles"
When I attempt to load a obj file, which has e.g. rectangles as facet pyntcloud crashes with an `AssertionError` within pandas:

    ---------------------------------------------------------------------------
    AssertionError                            Traceback (most recent call last)
    <ipython-input-36-170af64711ff> in <module>()
    ----> 1 obj.read_obj("/Users/johannes/test.obj")

    ~/a

[2018-05-08 16:04] MadhavEsDios commented on #167
Hahahaha, I felt the same way about .js,when I was trying to make changes to the html file, but your hack was still surprisingly fast ;)
Also you are very right, jupyter notebook although very easy to use, might not be the preferred use case of many programmers.
I myself have made changes to the plot function, replacing the IPython code with that of PyQt5, performance is still very good,(you have

[2018-05-09 05:01] daavoo commented on #168
Hola!
Thanks for pointing this out!

I'm aware that the current .obj parser does not cover the entire file format capabilities.

Could you share the file that is causing the error??

[2018-05-09 08:41] hildensia commented on #168
Unfortunately, no. But I can see, if I can generate a simple example generating the same defect.

[2018-05-09 08:47] hildensia commented on #168
The following files create the same error:

test.obj:

    # Blender v2.79 (sub 0) OBJ File: ''
    # www.blender.org
    mtllib test.mtl
    o Cube
    v 1.000000 -1.000000 -1.000000
    v 1.000000 -1.000000 1.000000
    v -1.000000 -1.000000 1.000000
    v -1.000000 -1.000000 -1.000000
    v 1.000000 1.000000 -0.999999
    v 0.999999 1.000000 1.000001
    v -1.000000 1.000000 1.000000
    v -1.0

[2018-05-09 08:48] hildensia commented on #168
The problem lies within the facet lines (`f 1//1 2//1 3//1 4//1` etc.) - pyntcloud assumes there will always be three vertices.

[2018-05-11 15:36] N-McA opened #169 "Remote Server 302's file requests"
Hey,

I use pyntcloud a lot from a remote server. Recently something about my configuration changed, and the IFrames stopped working. This is something to do with serving files from the jupyter directory - the requests to pyntcloud_plot.config.json get 302'd and return the jupyter lab login page instead, breaking the code.

I can't diagnose the issue, but I think it's an example of why the current

[2018-05-17 13:23] HenriMir opened #170 "Creating voxel structure"
Hi, I don't understand how you convert a point cloud object  into a voxel structure, a 3d numpy array, could you provide an example taking a .ply file and returning the voxel structure as .npy? thanks a lot

[2018-05-18 12:50] andreaschaimalas opened #171 "Installation guidelances"
Hi everyone,
I am a newbie here and in programming in general. Started python a couple of hours ago, so please show some sympathy.

I have downloaded the library and managed to install the project interpreter.

I am using Pycharm as my IDE btw. I open a new project and add the pyntcloud file. When i try to run the setup.py I am getting the following error:

"usage: setup.py [global_opts] cmd1 [cmd

[2018-05-19 11:11] daavoo commented on #171
Hola!
Thanks for posting :)

So I'm not fully understanding how you are trying to install pyntcloud but I'll try to help.

There are many things that might be happening.

First of all, I recommend you to try to follow the instructions in http://pyntcloud.readthedocs.io/en/latest/installation.html and see if you manage to get that done.

The error you are getting there is because you are not passin

[2018-05-19 11:26] daavoo commented on #170
Hola!

I'm going to add an example to pyntcloud/examples as soon as possible explaining how to create and use a voxelgrid that should answer your doubts.

[2018-05-22 10:06] HenriMir commented on #170
Hi
Thanks a lot for your answer, actually, instead of '.ply', any 3d object format such as '.obj' would be perfect.
Thanks for the lib!

[2018-05-24 21:49] nandoLidar opened #172 "Seeing plots in Jupyter using QuickStart file"
Hola!
Great job with this library! I'm just getting started using it and it's definitely going to be really useful for my work.

I went through most of the issues and I see that there's been similar issues to what I'm getting with the .plot() function. I've tried those solutions but just haven't been able to figure it out yet.

I'm running your QuickStart file, and when I get to the first scene.pl

[2018-05-25 21:17] daavoo commented on #172
Hola :)
Thank you very much!

The plot function is now my official archenemy, it seems to cause many problems.

Have you tried any of the solutions commented in #138 ???

Could you try if the plot works in firefox?

[2018-05-28 19:55] daavoo commented on #170
@HenriMir You can now find an example notebook about voxelgrids here:

https://github.com/daavoo/pyntcloud/blob/master/examples/%5Bstructures%5D%20VoxelGrid.ipynb

You should be able to just repalce `ankylosaurus_mesh.ply` by your own 3D file (in any of the supported formats) and everything else should work.

[2018-05-28 19:55] #170 closed

[2018-05-28 20:01] daavoo commented on #169
@N-McA Hola!
Many thanks for the post and the solution "hack".

As discused in #167 and other issues, I'm really unhappy with the current plotting utilities and for good reasons, like the ones you are exposing on this issue.

Working on visualization backends for supporting different user cases is something I'm really trying to find some time to work on.

Contributions and opinions about possible

[2018-05-28 20:56] N-McA commented on #169
Hey - yeah I've had a brief read of that issue before and I've been trying to think of a nice way to do it - I think a jupyter extension might be the way to go.

On an unrelated-but-meta-related note, is there a gallery of example use cases I could contribute to anywhere? Despite the craziness in the back-end, Pyntcloud has been *extremely useful* to me throughout my thesis and I have some pretty

[2018-05-29 05:02] daavoo commented on #169
Wow! That looks really nice! I would love to hear more details about what you are doing.

There is no current "use cases" section but I would be happy to create one as there are other people that reached me via e-mail that have examples of using pyntcloud.

Do you have / Would you be willing to create a notebook explaining the usage?? Or you only want the pictures + maybe some accompanying text to

[2018-05-29 08:34] N-McA commented on #169
I've got some big deadlines soon, but will be happy to write a notebook to show usage (and merge the changes needed to do white background, camera positioning etc :) ) after that.

[2018-05-29 14:37] nandoLidar commented on #172
I just tried those again and starting an http server is working!

Firefox wasn't working, and neither was Safari.

The only issue now is that all points seem to default to orange unless they come from a .ply file...
even if I replicate the data in a separate .csv file (for example copying all the points from diamond.ply into my own .csv file) the points will default to orange.

Has this been an is

[2018-05-30 16:38] nandoLidar commented on #172
Here's a simple snippet based on my trials. I still cannot get the plot function to work without starting a simple server
[manual_csv_test.csv.zip](https://github.com/daavoo/pyntcloud/files/2054819/manual_csv_test.csv.zip)

[example_fixing_orange.py.zip](https://github.com/daavoo/pyntcloud/files/2054821/example_fixing_orange.py.zip)

[2018-05-31 12:03] C-tha commented on #126
how can i get the above mentioned output using pyntcloud plot()

[2018-06-01 16:47] zwnk commented on #133
when you want to access the header information the call crashes with:

[code]

  File "pyncl.py", line 24, in <module>
    print(cloud.las_header.offset)
  File "C:\Users\USER\AppData\Local\Continuum\miniconda3\envs\pyntcloud\lib\site-packages\laspy\header.py", line 1135, in get_offset
    ["x_offset", "y_offset", "z_offset"]])
  File "C:\Users\USER\AppData\Local\Continuum\miniconda3\envs\pyntclou

[2018-06-02 11:03] daavoo commented on #172
Ok so there are 2 different issues here.

---

First, when using **Chrome**, the reason because you need to start a simpel server is because by default Chrome does not allow to load local files vía javascript. You can verify that this is the issue by openning the Chrome console on the page where you are loading the html, and you should see the error:
[code]

However, when using **Firefox** you sho

[2018-06-02 11:04] #172 closed

[2018-06-04 08:02] cicobalico opened #177 "the method plot() shows a black iframe"
I seem to have a problem with the .plot() method
below is a screeshot of what I get running the Basic_Numpy_Plotting example

![cattura](https://user-images.githubusercontent.com/452119/40905455-41b00d26-67de-11e8-8354-a94279e54184.PNG)

I tried Chrome and Firefox hoping it was browser-related but still no luck, any ideas?

[2018-06-04 13:10] nandoLidar commented on #172
This is the error I'm getting in the Chrome console.

Failed to load http://localhost:8888/files/dev/point_cloud/notebooks/lidar_room_plot.config.json: Redirect from 'http://localhost:8888/files/dev/point_cloud/notebooks/lidar_room_plot.config.json' to 'http://localhost:8888/login?next=%2Ffiles%2Fdev%2Fpoint_cloud%2Fnotebooks%2Flidar_room_plot.config.json' has been blocked by CORS policy: No 'Acce

[2018-06-04 19:27] daavoo commented on #172
Yes, that error means that Chrome is not allowing yo to load a local file, that's why you need to launch a simple http server or run the crhome executable with the following flag:

 `google-chrome --disable-web-security`

[2018-06-05 23:40] QROST commented on #177
Same here. Tried both Chrome & IE. IE says there is a "SCRIPT1002: Syntax error" at "pyntcloud_ploy.html(70,60)"

[2018-06-06 01:13] anuraags commented on #177
The problem that's occuring here is that the THREE.FileLoader is trying to load the "pyntcloud_plot.config.json" and because of jupyter's auth mechanisms this is returning a HTML containing the login page.

[2018-06-06 01:16] anuraags commented on #177
Update: I got this to work by disabling authentication in my jupyter notebook with the following lines:
[code]

in jupyter_notebook_config.py

[2018-06-06 17:43] daavoo commented on #177
Looking into this. @cicobalico Thanks for reporting and thanks @QROST @anuraags  for the comments

[2018-06-06 17:44] daavoo commented on #133
Thanks for pointing that out @zwnk . I'll try to find some time to re-focus on laspy integration

[2018-06-07 16:01] cicobalico commented on #177
You might want to know that I'm having this problem running jupyterlab on a localhost and the error message in the console is this:
`Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('http://localhost:8888') does not match the recipient window's origin ('null').
Failed to load http://localhost:8888/....../pyntcloud_plot.config.json: No 'Access-Control-Allow-Origin' header

[2018-06-11 19:42] xtecox commented on #177
Same here

[2018-06-11 19:49] daavoo commented on #177
Thank you all for the info. I'm really happy to anunce that I have
implemented an alternative plot method using pythreejs which would
(hopefully) fix most of the bugs ( for example this) of the current plolt.
I expect to merge it on master before this Thursday

El lun., 11 jun. 2018 21:42, THIAGO NEVES MOURAO <notifications@github.com>
escribió:

[2018-06-13 19:31] dorodnic opened #179 "2D Snapshot"
Is there a way to get a single, fixed, 2D snapshot of the point-cloud?
I'm having some trouble embedding the IFrame created by plot in Google's Collaboratory - `localhost refused to connect.`
A static snapshot would help, even if it is not interactive.

[2018-06-15 14:58] asmith26 commented on #177
Thanks for this awesome library @daavoo !

Just wondering how the pythreejs plot migration is going? I happily take a look if you wanted (I had a look at the branches on GitHub but it looks like there is only master).

Thanks again!

[2018-06-15 16:11] daavoo commented on #177
Thanks @asmith26 :) !

The basic functionallity is already migrated but I'm on a work trip so i dont have access to my computer. I would try to publish it as soon as possible.

Further contributions of any kind to the utilly would be highly appreciated :)

[2018-06-18 08:04] PotatoAim101 opened #180 "Python version"
hi,
Does it work on python2.7? or is it only possible on python3?

My project is on python2.7 and I'm not sure if I installed it wrong or if it shouldn't work on it.

[2018-06-20 06:51] kmader opened #183 "Pyntcloud.from_file for multiple files?"
Perhaps this is a rare use-case, but I often have folders full of .ply files to load into one cloud. I am currently manually reading them in (just points, probably adding mesh and other structures is much harder), but it could be helpful to have a feature for this built-in (or an easy way to concatenate two Pyntcloud objects?)

[code]

[2018-06-20 12:14] PotatoAim101 commented on #180
Yes it says it.. Python3 is required

[2018-06-20 12:14] #180 closed

[2018-06-20 13:14] PotatoAim101 opened #184 "Method plot()"
Hey,
How do you use the method plot() ?
You said "Every PyntCloud can be visualized using the plot method.
This will create a stand-alone html visualizer. The cool thing about this is that you can open it in any browser" and I'm interessted to do that but it's not working. Should i use IPython for that?

[2018-06-21 09:39] daavoo commented on #171
@andreaschaimalas Closing this. Feel free to re-open if you have any more doubts

[2018-06-21 09:39] #171 closed

[2018-06-21 11:38] daavoo commented on #177
Ok everybody so in #185 I've just added a very early support for plotting with pythreejs. YEY!!

So far you can only plot points, there is no support for mesh or polylines (soon ™).

The old ñapa-style backend is still supported by passing `backend="threejs"`.

I will leave this open for now because the actual notebook mentioned in the issue (Basic numpy plotting) is not supported by the pythreejs

[2018-06-21 11:41] daavoo commented on #179
Hola @dorodnic!, thank you for commenting.

So there are lot of issues related with the IFrame based plotting method.

In #185 a new plotting backend with pythreejs was added.

Could you try this new plot method and see if it works for you on Google's Collaboratory???

[2018-06-21 11:46] daavoo commented on #184
Hola @PotatoAim101!

The plot method is intended to be used inside [Jupyter](http://jupyter.org/install) notebooks.

Thanks to #181 , you can try out PyntCloud without installation on this link:
https://mybinder.org/v2/gh/daavoo/pyntcloud/master

Further plotting backends that work outside notebooks will be added as soon as possible.

For now please let me now if you are able to plot something ins

[2018-06-21 11:46] #184 closed

[2018-06-21 11:49] daavoo commented on #169
Hei @N-McA !

For your information in #185 an initial support for plotting with pythreejs was added.

Plotting polylines is not supported yet, but this plotting backend might hopefully help you with those server related issues.

Please let me know when you find some time to try the pythreejs backend.

[2018-06-21 11:50] daavoo commented on #139
The old threejs backend along with the screenshot button is intended to be deprecated soon. Closing this

[2018-06-21 11:50] #139 closed

[2018-06-21 12:22] daavoo commented on #183
Hola @kmader ! Thanks for the comment :)

I don't think that it is a rare use case at all, however, it looks like it should be carefully implemented and I'mt not sure about the best way to do that right now, opinions are wellcome.

Concatenating two PyntCloud objects might be non trivial because, as you mentioned, there are some structures wich could complicate the operation. Maybe a simple points

[2018-06-22 06:39] kmader commented on #183
@daavoo I had actually not considered the more general case requiring transforming coordinates and correcting for sensor information. That makes the problem considerably less tractable. The pandas 'hacks' are fine for now and makes it easy to use tools like dask.dataframe's to make loading quicker / parallel.

 that snippet is much nicer (but uses more memory since you have all the pieces in memor

[2018-06-23 11:35] daavoo commented on #183
The dask.dataframe looks very interesting as an optinal (activate when user wants) drop-in replacement for the pandas dataframe, definetly will take a look to that.

Regarding de memmory usage, how about replacing the list comprehension by a generator??

[code]

[2018-06-26 23:31] ShivendraAgrawal opened #187 "Issue with plot() in Jupyter Lab"
I know this must be frustrating or I might have done something very stupid but I am not seeing any error message and when I run the plot() function I see

`Renderer(camera=PerspectiveCamera(aspect=1.6, fov=90.0, position=(135.3456573486328, 9146.374328613281, 41812.…`

`HBox(children=(Label(value='Background color:'), ColorPicker(value='black'), Label(value='Point size:'), Float…`

instead of the

[2018-06-27 03:19] laoreja commented on #187
Yeah, I met the same problem, but it occurred when I'm using Jupyter Lab, after I switched to Jupyter notebook, the plot works smoothly

[2018-06-27 15:04] daavoo commented on #187
Hola @ShivendraAgrawal  , thanks for reporting. I did not try the plot method inside jupyter lab (just jupyter notebook) so there might be an issue there.

Could you try to run the plot inside a jupyter notebook, as @laoreja suggested??

[2018-06-27 18:04] daavoo commented on #187
Ok so I can confirm that this is a issue related with jupyter lab and ipywidgets.

I manage to get the PyntCloud.plot working inside jupyter lab, running on Windows and Ubuntu 16.04, by running inside the conda enviroment:

[code]
Yey! 💃

[2018-06-27 18:04] #187 closed

[2018-06-28 17:06] daavoo commented on #187
@ShivendraAgrawal Glad to hear that it works.

Regarding the size of the points, it is automatically computed and limited right now (maybe not in the best way).

However, you can dinamically change the size beyond the limits of the slider (I am assuming that your data is so sparse that you have tried to slide the size to the maximum and you still can't see things properly) as follows:

[code]
Now,

[2018-06-28 19:08] ShivendraAgrawal commented on #187
@daavoo Thanks a lot for the suggestions.

[2018-06-29 18:51] daavoo commented on #149
Hola @cosama!. It took me a while to found time to fix this (#188) and I ended up refactoring a lot of sutff to make the structures more usable from outside the PyntCloud class.

In theory (works for my and for some simple test), you can run:

[code]

And the result should be what you were trying to do when you faced the bug.

[2018-06-29 18:51] #149 closed

[2018-06-30 21:24] laoreja opened #190 "How to move the objcet"
Hi there,
thank you for your great project?
I have a question regarding to the manipulation of the rendered pythreejs scene.

Except from move the points positions by code, can I move the object/scene by mouse? If so, what's the operation?

And may I ask that if the threejs backend is dead now?
Really miss the large html view, can I open a separate html with the current pythreejs backend?

[2018-07-01 12:58] Nicholas-Mitchell commented on #183
Just a note on performance: the above solution could become quite bad once the number of files grows > 1000.

It might require a bit of a re-write, bit a generally faster pipeline would be:

- read each file into a single NumPy array, appending each file to a list
- run `np.array()` on that list to get one single array
- `reshape` as necessary
- Only then convert the entire array into a dataframe

[2018-07-02 06:47] Nicholas-Mitchell commented on #144
@daavoo - could you explain the limitations of the current implementation with regards to refreshing the pointcloud?

Is the pointcloud loaded into memory for the `pythreejs` session manager, just once at the beginning, then we are modifying the representation of static data? I assume this is what would make streaming pointclouds unbearably slow?

My current use-case is that I have binary files on

[2018-07-02 07:44] Nicholas-Mitchell opened #191 "Plotting lines with NumPy examples doesn't work"
I ran the `Basic_Numpy_Plotting` example in Binder, but there are many errors:

1. TypeError: plot() got an unexpected keyword argument 'point_size'
2. TypeError: plot() got an unexpected keyword argument 'opacity'
3. NotImplementedError: Plotting polylines with pythreejs backend is not supported yet.

If I remove the lines, then I can plot the random points in the example.

I was wondering if the

[2018-07-03 10:21] Nicholas-Mitchell commented on #190
If you render the plot in a Jupyter notebook, you will automatically get the interactivity that you are looking for.

You will have to [install ipywidgets](https://ipywidgets.readthedocs.io/en/latest/user_install.html)

[2018-07-03 15:07] Nicholas-Mitchell opened #192 "Potential PRs"
Hi @daavoo

I have been using this magnificent package and found a couple of things that I had to do manually and alter, which could easily be integrated into the package. They aren't big things, but I'd be happy to discuss needs/requirements/objections before I were to go ahead and submit pull requests.

First one: **read binary files with `.bin` extension**
I think this might be stepping on the

[2018-07-04 10:04] daavoo commented on #190
Hola @laoreja . Thanks for the kind words :)

---
Regarding your first question and @Nicholas-Mitchell answer, in the current pythreejs scene you only can move the camera around the scene via mouse interaction, the actual coordinates of the points are not updated. If you are not able to interactively move trhought the pythreejs scene there might be some issue with the installation.

So right now *

[2018-07-04 10:04] daavoo commented on #190
Closing this, please feel free to re-open if you consider that it has not been properly answered.

[2018-07-04 10:04] #190 closed

[2018-07-04 10:38] daavoo commented on #192
Hola @Nicholas-Mitchell . Really glad to hear that you find pyntcloud usefull :) and even more glad to hear that you contribute 🎉

---
I'm a little confused because I'm not really familiar with the `.bin` format.

The only `.bin` extension that I have ever encountered using point clouds is the [CloudCompare custom format](http://www.cloudcompare.org/forum/viewtopic.php?t=1864); is this what you ar

[2018-07-04 10:56] Nicholas-Mitchell commented on #192
@daavoo - Great, thanks for the tips!

The binary files could be anything really. I haven't worked with the CloudCompare tools, but have used binary files a fair bit, coming directly from LiDAR sensors. I started using PyntCloud recently after looking at data from the KITTI dataset - autonomous driving data recorded from a 64 channel Velodyne LiDAR.
As an aside: people also quite often use `.bin`

[2018-07-04 16:14] JeremySMorgan opened #193 "Python 2 Support?"
Is there anyway to run this with python2?

[2018-07-05 18:51] daavoo commented on #192
Sorry for the late response :( but glad to see that you found the solution and landed the P.R. :) Closing this

[2018-07-05 18:51] #192 closed

[2018-07-05 19:01] daavoo commented on #193
Hola @JeremySMorgan ! Thanks for your interest.

It is not possible to run pyntcloud with python2 out of the box. The lack of support for Python2 is intended, although I would be happy to help with indications to anyone who *really* needs to run this on Python2.

I think that trying to add python2 support to the full API would be an unjustifiable effort instead of using python3, but, if you really

[2018-07-05 19:01] #193 closed

[2018-07-05 19:06] daavoo commented on #159
For the record, I'm working on adding support for plotting meshes with the new `pythreejs` backend #185 .
I think that this backend would make really eassy to achieve what you were asking. I already managed to do it (not very clean right now).

I still have to merge the support of meshes on master and find a user-friendly way of appending figures to an existing scene.

A not very clean way is to p

[2018-07-06 00:04] laoreja commented on #190
Thank you very much!

[2018-07-10 09:53] #177 closed

[2018-07-12 09:52] kmader opened #196 "ValueError: field 'n_points' occurs more than once"
When I try to read some ply files generated by Constructor for Project Tango, they seem to run into issues (https://www.kaggle.com/4quant/depth-generation-lightfield-imaging#20180706181348.zip). The problem looks like it is being created by numpy as other libraries mention it (https://github.com/astropy/astropy/issues/7369). Any idea where this comes from or how to get around it?

[code]

[2018-07-12 09:57] kmader commented on #196
A temporary workaround seems to be disabling reading the mesh for the ply files, but probably there is a better solution

[2018-07-12 16:49] daavoo commented on #196
Thanks for reporting and sharing the data that causes the problem (cool point clouds BTW :)). Looking into this.

[2018-07-12 16:59] daavoo commented on #196
After I quick test, I managed to load the ply with no problems using some internal c++ code and then save it as ASCII.

After examiningt the c++ code and the ASCII file, it looks like I never added support in pyntcloud for PLY files with texture (like the one you linked) and because of that the parsing of the plain text header is not working as intended.

Looking into how hard would it be to add s

[2018-07-12 17:53] daavoo commented on #196
Ok, I managed to add support for loading PLY with textures 💃 #197 , BUT the mapping of the UV texture coordinates to per-vertx RGB colors is still missing.

@kmader Getting the per vertex RGB colors is something that you needed or it's enought for now that the loader does not break with that kind of ply files?

Pd. I don't have a PLY file with textures of my own, would you be willing to contribute

[2018-07-13 02:52] justbuchanan opened #198 "NameError: name 'initial_point_size' is not defined"
I'm getting this error when calling `plot()` as of version 2b59978c462a3b0d0d4cb6c2e5c984e8ac6879bf (current master branch). It looks like the `initial_point_size` parameter described [here](https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/core_class.py#L664) is missing from the function definition. I'd send a PR, but I'm not sure what a good default value would be :)

[2018-07-13 05:17] #198 closed

[2018-07-15 13:04] dorodnic commented on #179
Hi @daavoo
Thank you for the response, I'm still trying to make it work...
Here is as far as I managed to get:
[code]
But unfortunately the last line gets stuck and disconnects the runtime.
I'll update if I manage to figure it out. If you have example of using the new pythreejs backend, it looks exactly like what we need.

[2018-07-15 20:47] daavoo commented on #179
@dorodnic It looks like that Google's collaboratory does not have support for ipython widgets (https://github.com/googlecolab/colabtools/issues/60) wich makes the pythreejs backend fail.

We have recently added support for [binder](https://mybinder.org/v2/gh/daavoo/pyntcloud/master) wich should serve as an alternative to Google's Colab ( without GPU). Could you try if binder serve as a solution fo

[2018-07-15 20:49] daavoo commented on #179
@dorodnic After launching binder you can find examples of the pythreejs backend and other functionalities under the `examples` folder

[2018-07-16 06:46] dorodnic commented on #179
Thank you for the suggestion, I will give it a try!

[2018-07-17 08:53] daavoo commented on #169
Support for polylines with pythreejs added in #195 . Closing this. Feel free to re-open if you encounter any problem with the pythreejs backend.

[2018-07-17 08:53] #169 closed

[2018-07-18 09:20] Nicholas-Mitchell commented on #144
@daavoo

**bump**  - is there anything you can say regarding my questions above?  :smile:

[2018-07-18 11:46] daavoo commented on #144
Hi @Nicholas-Mitchell . I totally forgot about this :angel:

I would need to take a look to pythreejs internals to see how viable(if possible) the streaming is.

I have some code for streaming point clouds with PyQt somewhere. I'll try to find it and come back with some updates.

[2018-07-20 00:51] joskaaaa opened #200 "Convex Hulls: TypeError: __init__() takes 1 positional argument but 2 were given"
When trying to add_structure using a convex hull using the following code ([from SO](https://stackoverflow.com/questions/44997054/point-cloud-to-volume/45185563#45185563)):

[code]

Returns the following traceback:

[code]

This is solved by modifying Line 13 of \structures\convex_hull.py with the following:

`        Structure.__init__(self, points=points)`

[2018-07-20 01:03] #200 closed

[2018-07-24 13:59] Hippogriff opened #202 "Faces of sampled point cloud from meshes"
How to get face id of the points sampled from meshes?

[2018-07-24 17:09] Hippogriff commented on #202
Yeah. This is what I finally ended up doing. Poisson sampling should also be included. I will try implementing and will send PR.

[2018-07-25 09:03] ravijo opened #203 "Unable to plot color in PCD file"
I am trying to visualize a ASCII PCD file. Below is a some part of the content of this file-

[code]
Below is the code snippet-

[code]
Issues
---------
The generated plot has following issues-
* The background color is black (I was expecting it to be white)
* All the points are orange colored (the original cloud isn't orange colored)

Questions
-------------
1. How to set background color?
1. How

[2018-07-25 10:10] daavoo commented on #203
Hola! Thanks for the very detailed issue report :)

Please have in mind that the pcd io functions are still a work in progress #132 (It has been a long time since I worked on it because I wasn't receiving user demmands).

Regardig your questions:

1 - If you are using the `pythreejs` backend for `PyntCloud.plot` (This is the default backend in the current master branch, you might want to pull the

[2018-07-25 12:51] ravijo commented on #203
@daavoo : Hola!

1. It seems that this problem is from `pythreejs` backend side.

2. Unpacking the RGB values worked. thanks for the quick hack. However there was one more step required before unpacking. By default PCL (till now, i.e. PCL v 1.8) stores RGB information in a float variable. You may have a look at official documentation [here](http://docs.pointclouds.org/trunk/structpcl_1_1_point_x_y

[2018-07-26 07:38] ravijo opened #205 "How to plot two data frames together with different point size"
I have two data frames, each of them contains following columns `x, y, z, red, green, blue`.
[code]
The above two clouds can easily be plotted independently using the following code-
[code]
However, **I want to visualize these two data frames together**. In my real environment, the first data frame is a point cloud of a scene and second data frames are the annotated points in 3D space. Since recog

[2018-07-26 20:00] daavoo commented on #205
Hola @ravijo !

I'm currently working on a refactor of the plot function in order to make it more flexible.  Adding support for rendering multiple things has been already requested #159 #124 and it'd be one of the new features.

I think that it's not worth to hack around trying to accomplish this with the current master branch given that I expect to merge the refactor no later than this weekend. P

[2018-07-27 08:10] daavoo commented on #203
#204

[2018-07-27 08:10] #203 closed

[2018-07-27 19:04] daavoo commented on #205
This works for me after #206 merge:

[code]
On one cell:
[code]
The scene is showed in the output of the cell.

Then on other cell:
[code]
This only shows the poin size slider but the points are showed in the output of the above cell.

Hope that this is what you wanted !

PD. You might want to consider plotting the "annotated"points as pythreejs spheres for better visualization. I might add an exa

[2018-07-27 19:04] #205 closed

[2018-07-27 19:05] daavoo commented on #124
https://github.com/daavoo/pyntcloud/issues/205#issuecomment-408511582

[2018-07-27 19:05] #124 closed

[2018-07-29 21:16] #168 closed

[2018-07-29 21:16] daavoo commented on #168
After #209 This should be fixed. A utility for converting quadrilateral faces to triangular has also been added. In summary, the following code should work as intended:

[code]

[2018-08-01 00:31] GMNetto opened #210 "Unable to plot point cloud only meshes"
Hi,

I am following the example [scalar_fields] normals on windows with jupyter. I am able to see the plot for

```anky.plot(mesh=True, backend="threejs")```

However, for ```anky.plot```, I get

[code]

I assume the plot is not being displayed, even though it was created.

[2018-08-04 14:31] yangj257 opened #211 "Is there any detailed documentation or tutorials about this library?"
I found a simple documentation or tutorial  about this library on the web page(http://pyntcloud.readthedocs.io/en/latest/index.html)
, but in the documentation, there is no sample code for many modules, just only source code. Could you please provide some sample code of the modules(like octree,voxelgrid,plot,etc) just like laspy, which allows beginners to get started quickly and make your project

[2018-08-05 10:41] daavoo commented on #211
Hola @yangj257! Thanks for the comment :)

Adding documentation for the existing modules is a very high priority for many reasons line the ones you mentioned.

In addition to the API documentation in readthedocs, you can find sample code in the form of Jupyter Notebooks in:
https://github.com/daavoo/pyntcloud/tree/master/examples

You can also try those examples without installation launching bind

[2018-08-05 10:41] #211 closed

[2018-08-05 15:14] walzimmer commented on #144
I am also interested in displaying a sequence of point clouds (to animate it).
I know there is a "Take screenshot" button, but taking manually screenshots of more than 1000 frames is very time consuming. Can this be automated e.g. cloud.save(screenshot.png) instead of clicking the button?

[2018-08-05 15:58] walzimmer opened #212 "Unsupported sampling method: mesh_random_sampling"
The example from here does not work on binder.org:
https://github.com/daavoo/pyntcloud-notebooks/blob/master/QuickStart.ipynb

scene = PyntCloud.from_file("data/visible.ply")
sampled_points = scene.get_sample("mesh_random_sampling",n=500000,rgb=True,normals=True)
scene = PyntCloud(sampled_points)
scene.plot()

ValueError: Unsupported sampling method. Check docstring

I figured out, that changing i

[2018-08-05 16:09] walzimmer opened #213 "Polyline example does not work locally"
The Polylines example (see below) from the examples folder does not work on my computer.
The output is the following (there is not plot):
Renderer(camera=PerspectiveCamera(aspect=1.6, fov=90.0, position=(-3.051757957450718e-08, 5.046544547319412, 7…
HBox(children=(Label(value='Point size:'), FloatSlider(value=1.0109827041625976, max=10.109827041625977, step=…

I have installed it like this:
pip in

[2018-08-05 18:29] walzimmer opened #214 "Visualize pointcloud with transparence"
Will there be the feature to visualize pointclouds transparent?

[2018-08-05 21:41] Nicholas-Mitchell commented on #144
@walzimmer

What I am requesting here, is to actually stream pointclouds in order to
make a video through time. I am not particularly interested in screenshots,
as that really would be a simple workaround to fix at the end. The bigger
problem here is really the ability to load and display individual
pointclouds files (whichever format they may be in) - to stream them. Tools
such as RViz (in the wo

[2018-08-06 11:32] daavoo commented on #212
pyntcloud-notebooks are outdated and deprecated, please refer to https://github.com/daavoo/pyntcloud/tree/master/examples for reference notebooks.

Pd. You should change "mesh_random_sampling" to "mesh_random" in order to get the expected result.

[2018-08-06 11:32] #212 closed

[2018-08-13 05:35] yangj257 commented on #211
First of all, I want to say that it's a great library!
I found a lot of useful things in the examples folder which you mentioned, but I am still troubled by some problems because of the limited documents.
Could you please provide these two documents, examples/[neighbors] and examples/[sampling]?
It would be better if there were more documents,just like filter,etc!

[2018-08-13 18:53] daavoo commented on #213
Looks similar to #210 . Looking into this

[2018-08-13 19:08] daavoo commented on #179
A static backend has been added in #215 using matplotlib.

It is quite slow and it requires you to set the elevation `elev` and azimuth `azim` angles in order to achieve the point of view you want.  But it only requires matplotlib.

It supports the argument `use_as_color` and `initial_point_size` like the pythreejs backend:
[code]

@dorodnic I'm currently working on a http://vispy.org/ backend wic

[2018-08-13 19:08] #179 closed

[2018-08-13 19:16] daavoo commented on #214
Hola @walzimmer !

Thanks for commenting.

I think that this is an interesting feature. It is already available with `backend="threejs"` and it should be easy to add to `backend="pythreejs"` along with an iteractive slider.

The code for adding this would be quite similar to the the `point_size` slider but changing `opacity` instead of `size`:

https://github.com/daavoo/pyntcloud/blob/master/pyntc

[2018-09-03 15:26] goodok opened #216 "Please Fix FutureWarning in `PyntCloud.get_mesh_vertices()`"
**Is your feature request related to a problem? Please describe.**

FutureWarning in `PyntCloud.get_mesh_vertices()` method

[pyntcloud/core_class.py:567](https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/core_class.py#L567): FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpr

[2018-09-10 10:07] dmercel opened #217 "Point cloud from mesh with textures"
I'm not sure if it is currently possible, but I can't seem to get meshes with textures to be able to convert to pointclouds with colour.

I've tried importing the mesh via the ply and obj routes, but neither have worked.  Pointcloud generates from the geometry but any textures are ignored.
Is using textures possible currently?  If not it would be a great feature to add.

Thanks,

[2018-09-11 05:31] daavoo commented on #217
Hola!

As mentioned in #196 , support for loading ply texture coordinates has been added in #197 BUT the UV->RGB color mapping for each vertez has not being implemented yet.

Your PyntCloud should have `v1_u` fields repredenting the uv coordinates for each vertex and you could try to load the texture image and implement the mapping.

I will try to add support for loading color information from tex

[2018-09-14 11:29] asbe commented on #210
Hi, I observe the same when running jupyter and/or jupyterlab on a remote server. Meshes are ok - but there is no surface displayed for plotting pointclouds. I have ensured that pythreejs is installed as an extension. Any progress on this bug?

[2018-10-06 20:54] IvanKush opened #219 "`plot` doesn't plot in IPython console in Spyder IDE"
`plot` doesn't plot in **IPython console** in **Spyder** IDE

Code:
[code]

Get message, but nothing plots  =((
[code]

[2018-10-11 10:50] tktamtran opened #220 ".plot() doesn't display on ipynb"
Hello, I am trying to reproduce the convex hull demo on [stackoverflow](https://stackoverflow.com/questions/44997054/point-cloud-to-volume).

I reproduce the code, but do not get a plot output like in the demo. Instead I just get the plot's setting bar, and nothing else. How can I fix this? Thank you in advance.

<img width="857" alt="screen shot 2018-10-11 at 12 46 03" src="https://user-images.gi

[2018-10-11 12:29] tktamtran commented on #220
Nevermind, it works now. Just had to restart jupyter notebook.

[2018-10-11 12:29] #220 closed

[2018-10-15 09:44] skariel commented on #219
I have the same issue but on a Jupyter notebook... (ubuntu 18)

[2018-10-16 00:54] Mitko88 commented on #210
Thank you asbe!

Considering the link I also needed to do this:

`jupyter lab clean`
`jupyter lab build`

[2018-10-17 04:51] fangqiaohu opened #221 "Bug found in "PyntCloud.from_file()" function."
**Describe the bug**
Hi daavoo, thanks for your code!!
I use function `PyntCloud.from_file()` to read an `.obj` file, here is the bug I found.
While I use code below:
[code]
Here is part of my `.obj` file:
[code]
An error said:
[code]
BUT!!, after I modified my `.obj` file like this, i.e. bring 'f 2 6 5' to the first line of faces:
[code]
It works.
Is this normal? Thank you!

[2018-10-17 07:45] daavoo commented on #221
Hola @fangqiaohu ! Could you share the full .obj file?

[2018-10-17 21:10] Mitko88 opened #222 "Voxelgrid space coverage"
I noticed that the shape of a Voxelgrid is something like cube if you use fixed size voxel. However, there are x-y planes that are empty below and above the imported object. I would expect that only the space within a minimal boundary box would be voxelized.

Considering one voxelized space, I found that most of the space below and above the object is empty.
![screenshot_1](https://user-images.git

[2018-10-18 01:13] fangqiaohu commented on #221
Thanks, daavoo!
Here is the 2 meshes, `my_mesh_can_work.obj` and `my_mesh_cannot_work.obj`, the only difference between them, is that I bring line 49 ('f 2 6 5') to line 45 (the first line of faces).
I think it may occur like this, if the 3 numbers in the first line of faces are all one-digit, then it's ok, but if at least one number in the first line is double-digit or sth else, then the error is

[2018-10-18 17:32] daavoo commented on #222
Hola @Mitko88 ! I can't be sure without having access to the point cloud. But I think that this might be due to the parameter `regular_bounding_box` which is True by default:
https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/structures/voxelgrid.py#L38

This makes that instead of the minimal bounding box the voxelgrid is generated from the minimum regular bounding box, which, as I think is

[2018-10-18 18:56] #221 closed

[2018-10-18 18:56] daavoo commented on #221
@fangqiaohu thanks for pointing out the bug. it should now work as intended

[2018-10-21 00:12] Mitko88 commented on #222
Thank you @daavoo ! That is what I wanted.

Maybe it's better to have this parameter by default False, since the computational time is less and many empty voxels won't be created.

[2018-10-26 07:11] egeerardyn opened #224 "Licensing terms?"
What are the licensing terms of pyntcloud?

Some of my colleagues and me are currently looking into using Pyntcloud for our daily work, but without a license (and yes, I know those contain legalese, I don't like it either), it becomes quite impossible for us to use Pyntcloud in a business setting since we don't know what we can and cannot do with the code (e.g. can we use the code, can we store it

[2018-10-30 17:03] GitwellAnyohub opened #225 "Fixed Perspective of Point Cloud"
Hi. I've been using this library to visualize my point clouds and I think it is awesome. I work with a lot of video data so up until now I've only been able to visualize one point cloud at a time. I'd like to paste together the point clouds from a bunch of frames to create a moving point cloud. The problem is anytime I do cloud.plot and I'm interactively look at my point cloud, I need to manually

[2018-11-07 02:50] Arnoldnuo opened #226 "Bug found in "PyntCloud.from_file()" function."
**Describe the bug**
Hi daavoo, thanks for your code!!
I use function PyntCloud.from_file() to read an .obj file, here is the bug I found.
While I use code below:
[code]
An error said:
[code]

Here is my obj file:
[mycube.zip](https://github.com/daavoo/pyntcloud/files/2555861/mycube.zip)

[2018-11-12 16:39] Aventhera opened #227 "Help installing pyntcloud"
Hello,
We are students working on 3D reconstruction and we would like to use pyntcloud in order to create a point cloud from 2D images.
Unfortunately, we can't install pyntcloud using the line "pip install git+https://github.com/daavoo/pyntcloud".
We are currently working on python 3.x.x, using pyzo as the editor and get "Collecting git+https://github.Error in pip command:
'utf-8' codec can't deco

[2018-11-14 12:33] jsuyanyong commented on #227
Have you try to install pyntcloud in new anaconda virtual environment?

[2018-11-14 13:58] Aventhera commented on #227
I don't really understand what you mean by anaconda virtual environment. We're using pyzo and when we start a shell we got a message saying "Python 3.6.2|Anaconda, Inc.|", isn't it already the anaconda environment? If not, do you have any link where we could get this virtual environment please?

[2018-11-16 15:33] mjgalindo opened #228 "Wrong example in README.md `unexpected keyword argument 'voxelgrid'`"
The example in the readme file gives a

```TypeError: __init__() got an unexpected keyword argument 'voxelgrid'```

Looking in the code I found `voxelgrid` should be `voxelgrid_id`

Should be an easy fix, but I'd say it's important to have a usable example in the frontpage of the project.

[2018-11-17 13:29] daavoo commented on #228
Hola @mjgalindo !
You are totally right about both the bug and the importance of the frontpage examples :)

It should be fixed now, thanks!

[2018-11-17 13:29] #228 closed

[2018-11-19 19:13] CristobalBL commented on #226
Hello,

I have the same issue. I think my .obj file have an extra column in the vertex (v) rows.

Example of my .obj files:

[code]

[2018-11-26 21:13] garynobles opened #229 "Unable to install pyntcloud, invalid syntax error"
This is what I get when I try to pip install via git. Is this solvable?

pip install git+https://github.com/daavoo/pyntcloud.git
Collecting git+https://github.com/daavoo/pyntcloud.git
  Cloning https://github.com/daavoo/pyntcloud.git to /tmp/pip-rNP__p-build
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>

[2018-11-26 22:49] daavoo commented on #229
Hola! Could you share more information about the enviroment where you are encountering the problem (O.S, Python version, Python distribution, if any, ...)??

[2018-11-26 22:58] garynobles commented on #229
Ah using Python 2.7.15rc1, I though I was using Python3, I'll test it on python3 tomorrow, is this where the issues lies or should it be able to run on python 2.7?
OS= Ubuntu, no virtual environment.

[2018-11-26 23:02] daavoo commented on #229
Yep, It looks like Python2 was the issue. Please feel free to re-open if you encounter other problems with Python3 :)

[2018-11-26 23:02] #229 closed

[2018-11-28 18:23] MaveriQ commented on #168
I am having similar error. The thing is that the error occurs when we are reading the file (in PyntCloud.from_file('..') line) so it doesn't reach the line where quadrilateral faces are converted.

[2018-12-08 10:43] walus90 commented on #168
I have the same issue. @daavoo your workaround does not work as pointed in previous comment. Could you provide another workaround please?

[2018-12-10 13:47] weders opened #230 "Bug found in "pyntcloud.io.read_obj()" function"
**Description**

If one tries to load an .obj file using the library, the following error occurs:

**TypeError: Could not operate 1 with block values unsupported operand type(s) for -: 'str' and 'int'**

This happens because the code does not correctly handle missing texture vertex coordinates in the .obj file. If there are no texture vertex coordinates, None is written to the pd.DataFrame and you

[2018-12-26 04:37] yanx27 commented on #229
hello, when I install pyntcloud, I face with:

Command "python setup.py egg_info" failed with error code -11 in /tmp/pip-req-build-_g7gj_4o/

[2018-12-26 04:37] yanx27 commented on #229
@daavoo

[2019-01-12 11:56] daavoo commented on #224
Hola @egeerardyn!  Sorry for the late reply and the inconvenience.

To cut a long story short, you can create a *fork of the project using the Github button* (a concept surprisingly absent in most of those licenses) and do whatever you want. I would need to hire some pretty damm expensive layers to spend 50 hours researching about precedents of forked unlicensed projects at Github.

Even if in tha

[2019-01-12 11:56] #224 closed

[2019-01-13 10:45] daavoo commented on #226
Hola @Arnoldnuo @CristobalBL . Thanks for the report. There is a problem with PyntCloud not properly handling the `w` (https://en.wikipedia.org/wiki/Wavefront_.obj_file#Geometric_vertex). I'm working on that although I have no idea about what `w` does.

[2019-01-13 11:38] daavoo commented on #227
Hola @Aventhera thanks for the report and sorry for the inconvenience. Also thanks @jsuyanyong for trying to help.

Unfortunately, I'm not familiar with `pyzo` so I'm not sure if your problem is related with `pyntcloud` or with `pyzo`. I think that you could try to pass the issue to `pyzo` https://github.com/pyzo/pyzo to see if they can give you more info about the problem. If after their feedback

[2019-01-13 11:38] #227 closed

[2019-01-13 11:38] #226 closed

[2019-01-13 11:49] daavoo commented on #219
Hola @IvanKush ! Thanks for reporting. Unfortunately, the issue here is directly not related to`pyntcloyd`. The issue is that Spyder's ipython console does not support displaying html (See answer from spyder mantainer: https://stackoverflow.com/questions/47075946/replicate-jupyter-html-output-using-ipython-and-spyder-instead/47084058#47084058).

You should be able to see the result of the plot in

[2019-01-13 11:49] #219 closed

[2019-01-13 11:50] daavoo commented on #219
Hola @skariel It looks like your issue is not exactly the same because @IvanKush issue is related to spyder, not jupyter notebooks. Could you please open a different issue given a little more details about your problem?

[2019-01-13 11:53] daavoo commented on #210
Thanks @GMNetto for reporting andThanks @asbe and @Mitko88 for helping with this! Closing this @GMNetto feel free to reopen if the issue persists

[2019-01-13 11:53] #210 closed

[2019-01-13 11:53] daavoo commented on #213
@walzimmer Could you please try the answers in #210 ? Feel free to reopen if the issue persists

[2019-01-13 11:53] #213 closed

[2019-01-15 18:23] dafnamargalit opened #232 "Difficulty installing pyntcloud"
Hi!
I am attempting to install pyntcloud, and I installed all the necessary dependencies that are listed. However, when I run
`conda env create -n pyntcloud python=3 numpy numba scipy pandas`

I get the following error:
`usage: conda-env [-h] {attach,create,export,list,remove,upload,update} ...
conda-env: error: unrecognized arguments: numpy numba scipy pandas`

What am I doing wrong?

[2019-01-16 16:05] TheDelus commented on #225
Hi, plotting multiple point clouds is something that would be of value for me as well. @GitwellAnyohub @daavoo Is someone already working on that? If not I could give it a go.

[2019-01-16 21:02] daavoo commented on #225
Um. I think that there are many different things requestes. I will try to anwer / implement some soon

[2019-01-22 00:00] MitkoAle opened #233 "Processing models with large number of voxels"
I am trying to process large models using small voxels and I usually have memory problems. I guess there are two things that can be done to improve this.

1. Using Minimum Volume Bounding Box to align the voxels model with input data, and have less empty voxels.
![model](https://user-images.githubusercontent.com/21697551/51504361-b5476b00-1e34-11e9-9711-8ee248c4f39d.png)
This will reduce to some e

[2019-01-23 21:01] yaseryacoob opened #234 "Can I save a pointcloud as double precision"
**Is your feature request related to a problem? Please describe.**
Need to save a cloud as double instead of single (in ascii), not clear how to do it, doesn't seem part of the library?

[2019-02-05 10:49] Nicholas-Mitchell commented on #234
You could access the underlying points from the `xyz` attribute of a PyntCloud object, which is a numpy array - then convert it to type `np.float64` and save it to disk.
Converting from float32 to float64 isn't actually going to give you any extra precision (how would numpy know what the actual extra decimal points should be?)

If your original data is in double precision, I would suggest just fee

[2019-02-06 03:05] catphive commented on #129
Any updates on getting this in pip? I use this package, but I kind of don't like using anything I can't version pin.

[2019-02-07 06:36] daavoo commented on #233
Hola @MitkoAle ! Thanks for reporting and the suggestions :)

As many things in PyntCloud (actually everithing xD), the VoxelGrid implementation is not optimized at all.

In my opinion, the best way to reduce the memmory usage is to use sparse arrays to store the VoxelGrid information. This requires a little bit of refactoring of the current VoxelGrid code and I really hope to find the time and en

[2019-02-10 21:42] Nicholas-Mitchell opened #235 "Adding a legend to plots - linked to scalar field"
I find it great the a scalar field can be named for use a basis for the colour map - I use that all the time.
It would be great though to see a legend next to (or inside) the frame that tells me the range of the values, so I can get a sense for the magnitudes that the colours correspond to.

If this is possible to implement, it could be set up with nice default parameters, that allow a simple togg

[2019-02-12 11:11] mjaugustin commented on #187
While using in the Jupyter Note book in windows  for the visualization ploy lines
I am getting
Renderer(camera=PerspectiveCamera(aspect=1.6, fov=90.0, position=(-7.629394893626795e-09, 5.1860016727447515, …
HBox(children=(Label(value='Point size:'), FloatSlider(value=1.0183748245239257, max=10.183748245239258, step=…
Instead of rendering
and the image comes with cross symbol
Tried different method

[2019-02-13 04:59] Mitko88 commented on #233
Hola @daavoo ! :)

I've not worked with sparse and dense arrays. Probably, the computational time would be better using them.

Regarding the suggestions:

- 1

I agree with you that a manual rotation can be a solution.

- 2

I'm not talking about octree structures. I think Minecraft uses such kind of structure that I suggest, keeping huge models in smaller voxel models as separate objects. In this

[2019-02-23 00:26] MoTahoun opened #237 "Voxel Grid: ValueError: Number of samples, -9223372036854775807, must be non-negative."
**The bug**
I am trying to create a voxel grid from point clouds. I have created the instance of cloud succesfully.
`cloud = PyntCloud(pd.DataFrame(data=temp_01, columns=["x", "y", "z"]))`

Also, I have verfied with this two commands:
[code]
and the output is:

Next step is add structure by this line:
`voxelGridId = cloud.add_structure("voxelgrid", size_x=1/256, size_y=1/256, size_z=1/256, regular

[2019-02-25 20:22] daavoo commented on #237
Can you share the data?

[2019-02-26 16:44] thomas-frieling commented on #230
The error can be reproduced with a simple cube example from https://de.wikipedia.org/wiki/Wavefront_OBJ

File attached: [cube.obj.zip](https://github.com/daavoo/pyntcloud/files/2906533/cube.obj.zip)

[2019-03-01 21:44] #216 closed

[2019-03-07 03:29] movvam opened #239 "Poisson-Disk point sampling"
Poisson-Disk sampling from faces would be a useful addition, especially for applications where blue noise is desired

[2019-03-07 03:29] movvam commented on #202
Making this its own feature request #239

[2019-03-10 06:23] markummitchell opened #241 "PTS files are not read"
Hello, Thanks for the great software.

I get "ValueError Points must have x,y and z coordinates" errors when I read pts files. An example is:
9
1.786 -0.154 8.507 0 117 130 149
0.683 -0.742 8.596 0 130 137 153
1.566 -0.269 8.522 11 126 135 150
1.167 -0.462 8.561 1 127 135 156
0.568 -0.775 8.613 62 132 135 152
1.171 -0.458 8.571 0 125 136 156
0.801 -0.652 8.591 58 134 141 160
0.615 -0.781 8.63 0 13

[2019-03-10 20:52] daavoo commented on #241
Could you share the code that is causing this??

Could you share the file or clarify if the first row with a single '9' is included in the file??

[2019-03-11 05:39] markummitchell commented on #241
The first line of the file is '9', and the last line is '2.027 -0.036 8.489 0 121 132 152'. I verified that after copying and pasting the pts file above into a file, the file will be correctly read by Autodesk ReCap.

The ValueError exception comes from core_class.py:
 def points(self, df):
        if not isinstance(df, pd.DataFrame):
            raise TypeError("Points argument must be a DataFram

[2019-03-27 17:36] nuria666 commented on #171
Hello,

I have installed pyntcloud following the instructions in https://pyntcloud.readthedocs.io/en/latest/installation.html and the library seems to be installed in the new environment. However, when I try to view my data I get the following error:

  File "<ipython-input-3-0c84d324f306>", line 1, in <module>
    from pyntcloud import PyntCloud

ImportError: cannot import name 'PyntCloud'

I hav

[2019-03-27 18:23] daavoo commented on #171
Hola @nuria666 !!
You have encountered a "bug" introduced yesterday :) (it is just a missing import, your pyntcloud instllation is fine but the code examples in the docs won't work)

It should be fixed now, just re-clone the repository

[2019-03-29 10:00] nuria666 commented on #171
Hola!

Thank you for your quick response!
I have installed pyntcloud now and it seems to read my point cloud file and do other things with it. However, every time I try to visualise the point cloud or any other structure I get error messages related to pythreejs. I have installed pythreejs and ipywidgets libraries in my Anaconda environment. I have also installed matplotlib. Still I keep having er

[2019-04-01 22:15] ethanjyx opened #243 "There seems to be a limitation of the angel that we can rotate the point cloud."
**Describe the bug**
There seems to be a limitation of the angel that we can rotate the point cloud.

**To Reproduce**
Steps to reproduce the behavior:
1. Render any point cloud.
2. Try to rotate it freely, by dragging the mouse up and down.
3. There is a limitation of how much you can rotate upwards.

**Expected behavior**
I would expect I can endless drag upwards to keep rotating the item.

**De

[2019-04-17 10:31] ScarlettLeong commented on #241
you should read the i/o page [https://pyntcloud.readthedocs.io/en/latest/io.html](https://pyntcloud.readthedocs.io/en/latest/io.html)
Internally, PyntCloud.from_file is just calling the pandas function .read_csv when you give it a valid ascii format.

So check the linked documentation to explore all the possible arguments in order to adjust them to read your ascii file.

[2019-04-17 14:06] markummitchell commented on #241
Sorry. I realize there are spaces causing the problem. Thanks

[2019-04-17 14:06] #241 closed

[2019-04-17 14:34] ScarlettLeong commented on #172
It seems that the html file work on Firefox

[2019-04-17 18:45] daavoo commented on #241
Thanks @ScarlettLeong :)

[2019-05-06 08:00] Nicholas-Mitchell opened #244 "Add "linewidth" as a parameter to polylines in plot method"
I would like to change the thickness of the polylines, based on some variable. This helps encode extra information into the plots (e.g. thicker lines could mean greater uncertainty on a prediction.

I have added a solution, which simply taps into the ability that `pythreejs` already implements. It only requires a minimal change in the following function, found in `pyntcloud/plot/pythreejs_backend.

[2019-05-21 09:07] beyondzzz opened #245 "load obj with color files got error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. find a obj with color file
2. python 3.6
3. code:

from pyntcloud import PyntCloud
PyntCloud.from_file(pathfile)

4. See error

Traceback (most recent call last):
  File "pre.py", line 14, in <module>
    PyntCloud.from_file("/Users/mac/Documents/wayback/test_files/" + eac

[2019-06-08 16:26] bsburnham opened #246 "OA/OS licence"
This is a simple request or question I have about making this library open access and open source?

I realise that it has an Unlicence, but if other developers want to include some of the type of data that can created and 'exported' from here, then they _should_ have the same licence attributed to it.

Thoughts?

[2019-06-15 20:11] banesullivan opened #247 "Interoperability with PyVista"
Would it be of interest here to use [PyVista](https://github.com/pyvista/pyvista) as a supporting module for 3D visualization?

It should be pretty straightforward as a `PyntCloud` is basically the same as a  `pyvista.PolyData` object (`vtkPolyData`). Also, voxel grids/meshes could easily be represented by `pvvista.StructuredGrid`, `pyvista.UnstructruedGrid`, or `pyvista.UnifromGrid`.

What do you

[2019-06-15 20:14] banesullivan commented on #247
And we have useful features like Eye Dome Lighting for improved depth perception. See [this example](https://docs.pyvista.org/examples/02-plot/plot-edl.html):

[code]

![sphx_glr_plot-edl_003](https://user-images.githubusercontent.com/22067021/59555928-da6d7f00-8f77-11e9-900c-c1495e995b5e.png)

[code]

![sphx_glr_plot-edl_004](https://user-images.githubusercontent.com/22067021/59555926-d80b2500-8f

[2019-06-15 22:17] daavoo commented on #247
Hola @banesullivan !

First of all: WoW! :open_mouth: PyVista looks awesome, great work!

So yes, It would definetly be quite cool to add support for PyVista as plotting backend and to include some sort of conversor from/to PyVista's Polydata.

I would certainly work on this myself but contributions and/or ideas are always wellcome.

[2019-06-17 14:36] banesullivan commented on #247
Thanks, @daavoo! I'm glad to see you think PyVista would fit well here as a supporting module for 3D viz!

I'll try to make time to play around here and see if I can get a PR going

[2019-06-17 22:08] banesullivan commented on #235
Perhaps this would work with PyVista in #248

PyVista can easily handle color mapping and rendering color bars and legends in the 3D rendering scene. Perhaps something along the lines of

[code]

<img width="624" alt="Screen Shot 2019-06-17 at 4 07 16 PM" src="https://user-images.githubusercontent.com/22067021/59639988-00328980-911a-11e9-8c36-5bb6aa726747.png">

[2019-06-17 22:23] banesullivan commented on #246
I too am a bit confused by this... I've never heard of an "Unlicense"

Would you all consider relicensing this project to an [Open Software Initiative](https://opensource.org/licenses/) or [Free Software Foundation](https://www.fsf.org/licensing/licenses/) approved license that fits the motivations of this project?

Personally I'd love to see an MIT License with this project, but this is very much

[2019-06-17 22:32] banesullivan commented on #225
With #248 coming soon, you could use PyVista for rendering more than one dataset in a scene as well as updating the coordinates and saving a frame.

Maybe check out a few of PyVista's video/gif examples:

- [Create a GIF](https://docs.pyvista.org/examples/02-plot/plot-gif.html)
- [Create a Movie](https://docs.pyvista.org/examples/02-plot/plot-movie.html)

Simple code to add more than one PyntCloud

[2019-06-17 22:34] banesullivan commented on #217
Perhaps #248 could help here? [PyVista handles textures](https://docs.pyvista.org/examples/02-plot/plot-texture.html#sphx-glr-examples-02-plot-plot-texture-py) and [this is another example](https://github.com/pyvista/pyvista-support/issues/14#issuecomment-501777813)

[2019-06-17 22:38] banesullivan commented on #159
This could be done with PyVista after #248:

[code]

<img width="624" alt="Screen Shot 2019-06-17 at 4 37 52 PM" src="https://user-images.githubusercontent.com/22067021/59641299-4853ab00-911e-11e9-8f40-c1dec10f7aeb.png">

Feel free to check out the rest of [PyVista's Examples](https://docs.pyvista.org/examples/index.html) and ping me/use [PyVista's support forum](https://github.com/pyvista/pyvista

[2019-06-18 04:42] daavoo commented on #246
MIT is now the official LICENSE

[2019-06-18 04:42] #246 closed

[2019-06-18 05:03] #247 closed

[2019-06-18 05:04] daavoo commented on #235
Closed in #248

[2019-06-18 05:04] #235 closed

[2019-06-18 05:04] daavoo commented on #225
Closed in #248

[2019-06-18 05:04] #225 closed

[2019-06-18 05:06] daavoo commented on #167
Pyvista has been added in #248 and before there was support for pythreejs and matplotlib as alternatives to three.js

Further backends should be easily integrated following the current examples

[2019-06-18 05:06] #167 closed

[2019-06-18 05:07] daavoo commented on #144
Should be doable now with Pyvista #248

See comment:

https://github.com/daavoo/pyntcloud/issues/225#issuecomment-502875349

[2019-06-18 05:07] #144 closed

[2019-06-18 05:12] daavoo commented on #243
Hola @ethanjyx !

It is true that there is a limitation and it is given by three.js default arguments https://threejs.org/docs/#examples/controls/OrbitControls

Support for updating this arguments should be added to:

https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/plot/pythreejs_backend.py#L56

Contributions are wellcome

[2019-06-18 05:15] #244 closed

[2019-06-18 05:15] daavoo commented on #244
Thanks @Nicholas-Mitchell . I added the suggested changes

[2019-06-28 16:47] Haetsal-Lee opened #250 "Convert from voxelgrid feature vector to point cloud."
**Is your feature request related to a problem? Please describe.**
It would be very typical scenario that converting voxelgrid feature vector to point cloud in case of generating feature vector from neural network (using architectures like GAN).

**Describe the solution you'd like**
Now there are modes "binary", "density", "TDF", "max", "min" and "mean".
As far as I know, It would be not possible

[2019-07-03 19:03] gabegrand opened #251 "Plot gets stuck "Loading widget...""
I can't get the example plot to display inside Jupter notebook with "threejs" (same issue as #177). I switched to "pythreejs" backend, and the widget gets stuck loading.

Running JupyterLab v1.0.0 with Python 3.6 on Linux Ubuntu 16.04

![Screen Shot 2019-07-03 at 2 59 11 PM](https://user-images.githubusercontent.com/10052880/60618070-2e16ff80-9da3-11e9-91dc-3725f1e5d17c.png)

[2019-07-12 13:01] effigies commented on #129
@daavoo Apologies for bugging, but it's difficult to correctly package downstream tools that depend on a URL to find the package.

If you look at pip (e.g., https://github.com/pypa/pip/issues/5780 and a number of other issues that are linked to that one), the old infrastructure is in the process of being deprecated, and a full replacement is slow in coming.

What are the current roadblocks, and is

[2019-07-14 09:24] daavoo commented on #129
Hola.
[code]
:)

[2019-07-14 09:24] #129 closed

[2019-07-14 13:27] effigies commented on #129
Thanks!

[2019-08-08 20:09] lgribeiro opened #252 "Volume of a 3d point cloud"
How do I calculate the volume of a 3d object non-convex from point cloud?

[2019-08-18 18:33] daavoo commented on #245
Hola @beyondzzz , could you share an example file that raises this error?

[2019-08-20 14:38] brm31596 opened #255 "aX+bY+cZ+d plane fitting"
Hi,

I have a Pointcloud where all points are lying on a plane which is oriented somehow in the 3D space.
I'd like to determine the a,b,c,d of aX+bY+cZ+d.
Are this kinds of problems implemented?

PyntCloud.add_scalar_field(cloud) adds an aditional 1 to each point, but this just tells me every point is on the plane :)
I tried plane = pyntcloud.scalar_fields.PlaneFit(cloud_1) but I got an error:

**

[2019-08-20 16:48] daavoo commented on #255
Hola @brm31596 ! Yes, this is implemented, although it might be a little tricky to find. I think that you can achieve what you want as follows:

[code]

Feel free to re-open if you run intro problems

[2019-08-20 16:48] #255 closed

[2019-08-22 23:33] Mitko88 opened #256 "Are you planning to add triangles (i.e., mesh) voxelization coming from obj files?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-22 23:34] Mitko88 commented on #256
Are you planning to add triangles (i.e., mesh) voxelization coming from obj files?

[2019-08-24 05:58] Dinatorehanova opened #257 "Attribute Issue in PCD file"
Hi,
I am directly using the bag file to feed in the pcl_ros library using the command rosrun pcl_ros bag_to_pcd <input_file.bag> <output_directory>

As topic, I am using the /os1_cloud_node/points.

I have shared one of my bag file and a pcd file generated from this bag here.It would be very helpful if you could kindly have a look and guide me what corrections do we have to do to get all the field

[2019-08-26 19:57] #230 closed

[2019-08-26 19:57] daavoo commented on #230
Fixed un #253

[2019-08-29 14:09] hansen7 commented on #136
Hi, David.
There are lots of dataset in the area of points cloud, such as:
http://modelnet.cs.princeton.edu

There might be a few glitches in the original raw data files, but it can be relived easily with `_fix_offfile()` in [here](https://github.com/hansen7/Hansen_Self-Paced_CS_Learning/blob/master/public_sandbox/ModelNet40_Loader.py)

btw, I do notice that during the random sampling using the ra

[2019-09-02 06:14] sunnyHelen opened #259 "plot 3D voxelgrid error"
**Describe the bug**
A clear and concise description of what the bug is.
when I try to plot 3D voxelgrid, I get a .html file. But it turns out nothing like this
![image](https://user-images.githubusercontent.com/28101548/64093556-29b79480-cd9c-11e9-9592-86ef32fa527a.png)
I use class VoxelGrid(Structure) to build my voxel, and I can get the 2D plot.
**To Reproduce**
Steps to reproduce the behavior:

[2019-09-02 06:22] sunnyHelen commented on #259
Oh, sorry. I found the solution.

[2019-09-02 06:22] #259 closed

[2019-09-04 05:09] daavoo commented on #259
Hola @sunnyHelen ! Glad to hear that you managed to found the solution. Could you share what was the problem/solution in order to serve as reference for other people?

[2019-09-13 08:01] hansen7 commented on #135
Hi, @daavoo , I am ready to merge my pointnet repo to the module as well

[2019-09-21 19:33] daavoo commented on #136
Hola @hansen7 ! Have you checked the existing modelnet downloader?:

https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/learn/datasets/modelnet.py

I did not encounter this overflow issues. Will try to look into that

[2019-09-21 19:37] daavoo commented on #136
I'm not 100% sure that this is a float64/32 issue

[2019-09-21 19:42] daavoo commented on #135
Hola @hansen7 , glad to hear that! Feel free to open a P.R. whenever you want

[2019-10-01 09:28] k-d1951 opened #260 "Spelling error in [scalar_fields] eigenvalues.ipynb"
Line 161 in source blob view has spelling errors:

_You **cand** learn more about **hoy** to convert a triangular mesh into a point cloud in the examples/[sampling] notebooks._

[2019-10-01 17:06] daavoo commented on #260
Hola @k-d1951 ! Thanks for pointing out those typos!
It looks like a very good oportunity for making a litte contribution :)

If you are willing to contribute those changes, don't hesitate in asking doubts

[2019-10-01 17:09] daavoo commented on #257
Hola @Dinatorehanova ! I'm not sure but I think that the issue you are reporting it's not related to this repo but rather would be better reported in:
https://github.com/ros-perception/perception_pcl/issues

[2019-10-01 17:09] #257 closed

[2019-10-01 17:12] daavoo commented on #256
Yes we are planning to add more functionality for mesh operations, although the focus of pyntcloud are point clouds - hence the name :) - so we would probably integrate an existing Python mesh processing library .

In the meantime you can still voxelize a mesh if you first convert it to point cloud and then running the voxelization. The following example does exactly that:

https://github.com/daav

[2019-10-01 17:17] daavoo commented on #251
Hola @gabegrand ! Thanks for pointing the but out.

It looks like it might be something more related to jupyterlab&pythreejs integration than pyntcloud itself.

I found this issue:

https://github.com/jupyter-widgets/pythreejs/issues/268

Which seems (from a quick view) related.

Please let me know if you find a solution :)

[2019-10-01 20:20] ChiselD opened #262 "Typos in docs"
I noticed several typos in various files in the docs folder, e.g. "trough" instead of "through" in a couple of files. I am a first-timer; is it okay if I make some suggested edits as a pull request?

[2019-10-01 21:41] daavoo commented on #262
Hola @ChiselD !

Absolutely! Every contribution its more than welcome

[2019-10-02 14:03] ChiselD commented on #262
Thanks very much @daavoo ! I will take a look at this tomorrow.

[2019-10-07 08:34] Mitko88 commented on #256
Thank you for the suggestion to try to covert first meshes into points. The only problem is that the point sampler is random and there are always some gaps when you voxelize the points. I'm not sure if uniform point sampling could be implemented for meshes, that would prevent those gaps I guess.

[2019-10-08 11:21] daavoo opened #265 "Update Installation Docs"
**Is your feature request related to a problem? Please describe.**
The installation instructions in https://pyntcloud.readthedocs.io/en/latest/ are outdated.

**Describe the solution you'd like**
Update the installation instructions with the new conda-forge and pypi options

[2019-10-08 11:23] daavoo opened #266 "Document from_instance/to_instance"
**Is your feature request related to a problem? Please describe.**
Information about the from_instance/to_instance methods is missing in the docs about "I/O":

https://pyntcloud.readthedocs.io/en/latest/io.html

**Describe the solution you'd like**
Add information about these methods and API reference, following existing "I/O" documentation structure

[2019-10-10 01:39] Pachwenko commented on #265
I'll update the docs, but if the verbiage is off feel free to say something!

Also, I think requirements.txt is incorrect so we may want to remove that.

[2019-10-10 11:05] #265 closed

[2019-11-06 07:48] JoonHyup opened #268 "pyntcloud import error"
Hello!
I got an error when I type 'from pyntcloud import PyntCloud' as below
Please help me how to solve it.

OS : Ubuntu Linux 16.04
Python : 3.5.2

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/pyntcloud/__init__.py", line 1, in <module>
    from .core_class import PyntCloud
  File "/usr/local/lib/python3.5/dist-packages/p

[2019-11-12 16:35] denabazazian opened #269 "Extract Eigenvalues and Anisotropy"
I have two issues to comment regarding the Eigenvalues, one about extracting the three eigenvalues associated to each point and the other about computing Anisotropy.

1) To extract the three eigenvalues associated to each point, I am trying something as the following code:
`from pyntcloud import PyntCloud`
`pcd1 = PyntCloud.from_file("bunny.pcd")`
`kdtree_id = pcd1.add_structure("kdtree") `
`k_nei

[2019-11-13 12:53] einarwar opened #270 "Export as .pcd"
**Is your feature request related to a problem? Please describe.**
I am working with annotation of 3d-pointclouds. The data i have access to is in .las format. However, most annotation software only accepts .pcd or .bin - files.

**Describe the solution you'd like**
Adding support in PyntCloud.to_file() to export files as .pcd format

**Describe alternatives you've considered**
I've tried converti

[2019-11-13 22:22] daavoo commented on #268
Hola @JoonHyup !
pyntcloud currently requires a Python version >= 3.6.

The error is not realling telling so I would try to add an explicit exception for the Python version requirement.

[2019-11-13 22:22] #268 closed

[2019-11-13 22:39] daavoo commented on #269
Hola @denabazazian ! Thanks for the detailed report.

1.
You are computing the eigenvalues correctly. However the return of `add_scalar_field` are actually string identifiers, not the actual values of the scalar field (as stated in: https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/core_class.py#L214).

You can check that what `add_scalar_field` actually does is adding 3 new columns to you

[2019-11-13 22:39] #269 closed

[2019-11-14 17:30] denabazazian commented on #269
Muchas gracias @daavoo ! Your suggestion was very useful and it solved my problem.
I have updated my repository for Edge Extraction [https://github.com/denabazazian/Edge_Extraction] based on pyntcloud.
Also, I fixed the Anisotropy equation by a Pull Request.

[2020-01-01 08:51] cell-a opened #272 "Header / comments Editing"
Hello  @daavoo
i need to edit existing ply file contain header (text) & binary without effecting the binary
i want to replace in comments or in the header
i'm tried to use edit_ply from this code
[Read & Write Ply File](https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/io/ply.py)
but its didn't work
i have paths in the comments
and i need to edit this paths
also i'm tried to use normal cod

[2020-01-13 15:46] #251 closed

[2020-01-21 11:29] darkclip opened #273 "can not get las file header vlrs information"
In las file format, vlrs info is crucial to correctly describe point's spatial location.
However, if you try to use pyntcloud.las_header.vlrs, you wouldn't get anything, the value is alway none.

Through your source code, I can see you try to use
`data["las_header"] = las.header`
But it can not pass vlrs info into new object, because in laspy, vlrs info is dynamically obtained
`    vlrs = property

[2020-01-21 20:19] daavoo commented on #273
Hola @darkclip , thanks for the detailed bug report.

If you find time to implement the fix you propose the Pull Request would be more than wellcome. If not I will try to find some time to fix it

[2020-03-03 15:29] KevinDu1 opened #274 "Error happened: from pyntcloud import PyntCloud"
I run the example code but the statement "from pyntcloud import PyntCloud" produces problem as follows:

file "/home/djt/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)

  File "<ipython-input-1-aa308270eff7>", line 1, in <module>
    from pyntcloud import PyntCloud

  File "/home/djt/.local/lib/pyth

[2020-03-03 15:37] #274 closed

[2020-03-06 20:09] ziliHarvey opened #275 "plot() isn't interactive in jupyter notebook"
![Screenshot from 2020-03-06 15-07-49](https://user-images.githubusercontent.com/43801975/76118950-5d2de280-5fbc-11ea-85c5-e5b4b9262510.png)

Using plot in .py file generates a gui with points in 3d that can be dragged, manipulated by mouse. However, in Jupyter Notebook, only static image is shown. Can anyone help me with this?

[2020-03-22 11:45] daavoo commented on #275
Hola @ziliHarvey . It looks like you are plotting with the matplotlib backend.

In order to make the plot interactive you can either:

A) Invoke the %matplotlib notebook magic command before calling the plot (More info at https://medium.com/@1522933668924/using-matplotlib-in-jupyter-notebooks-comparing-methods-and-some-tips-python-c38e85b40ba1)

B) Use the pythreejs backend, by passing the argumen

[2020-03-22 11:45] #275 closed

[2020-03-25 07:28] wzy19950426 opened #276 "Point cloud cannot be displayed successfully"
I use jupyter-lab and cannot successfully show that the point cloud has only a string of prints. I don't know if it is because of the code or because of a problem with the environment of jupyter-lab.
I want to show pointcloud but it just give me like this prints no pointcloud view:

Renderer(camera=PerspectiveCamera(aspect=1.6, fov=90.0, position=(0.008728588931262493, 1.520455745747313, 10.…
HBox

[2020-03-25 08:31] daavoo commented on #276
Hola. It seems like an issue with the jupyter lab environment. Please check the comments in #187 to see if your problem is related with that.

[2020-03-25 08:32] daavoo commented on #276
Specifically: https://github.com/daavoo/pyntcloud/issues/187#issuecomment-400776966

[2020-03-26 06:03] wzy19950426 commented on #276
Thank you for your reply．Point clouds can be displayed normally in notbook．But not in the lab, only 2d pictures can be displayed in the lab．

[2020-03-26 06:15] wzy19950426 commented on #276
but when I execute command 'jupyter labextension install @jupyter-widgets/jupyterlab-manager' and 'jupyter lab build' give me the same error:'NameError: name 'CoreConfig' is not defined'

[2020-03-26 06:52] daavoo commented on #276
It looks like there is an issue with the nodejs version installed. See:

https://github.com/quigleyj97/jupyterlab-spreadsheet/issues/19

Following the comments, could you run:

`conda install -c conda-forge nodejs`

To see if that uptades your node version and resolves the problem?

[2020-03-27 06:36] wzy19950426 commented on #276
I updated nodejs to the latest，And successfully executed:
'jupyter labextension install @jupyter-widgets/jupyterlab-manager'.
Now its different befor.its succellfully display buttons:
'Point size:-------------- 0.01'  and  'Background color: black'
but there is still no pointcloud its show me the error:
'Error displaying widget: model not found'.

[2020-03-28 04:26] hamaney opened #277 "scipy hashes issue"
**Describe the bug**
I get an error when I try to install the package from pip

**To Reproduce**
Steps to reproduce the behavior:
1. run `pip install pyntcloud`

**Expected behavior**
to be installed in my virtualenv

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/11434409/77814744-31f55b00-7071-11ea-9ff4-b2629ceb06ec

[2020-04-22 13:06] haoliangjiang commented on #255
I am getting the same error and I am trying to use RANSAC. The code is like:

		cloud = pync.PyntCloud.from_instance("open3d", pcd_origin)
		pdb.set_trace()
		x = pync.scalar_fields.PlaneFit(*cloud.xyz)
		x.extract_info()
		x.compute()

Really cannot tell what's wrong here?

[2020-06-24 17:58] Ciaran1981 opened #281 "scalar field writing"
Is it possible to write a custom scalar field? Can the data be inserted via numpy array?

[2020-06-30 07:31] tgoelles commented on #281
Yes that would also be interesting for lidar application. Lidar give x,y,z data and in addition intensity, noise, range and more.

[2020-06-30 10:11] Ciaran1981 commented on #281
Yes - it can be done outside this lib but would be great given it's other utilities

[2020-06-30 19:26] christianbrugger opened #282 "Syntax Error Python 3.5"
The current version of pyntcloud does not work with python 3.5, although it says on the website that pyntcloud supports this python version.

I get the following error:
[code]

F-strings are not supported in Python 3.5, so this does not compile. Remvoing the `f` makes everything work.

 - OS: Ubuntu 16.04
 - pyntcloud-0.1.2 (via pip)

[2020-07-01 07:25] OloOcki opened #283 "SciPy issue while using pip install"
Dear Community of pyntcloud,

I really enjoyed working with pyntcloud! I have made some testing within conda, Python 3.6 and everything worked perfectly.

Now, I would like to integrate pyntcloud to a software called FME. FME installs all the stuff via pip and uses Python 3.7 but cannot import the pyntcloud package somehow (i.e. some xml Python parser works). When I try to run it the following err

[2020-07-02 15:37] Dource opened #284 "save view as Image"
**Is your feature request related to a problem? Please describe.**
Hello,
I have a PointCLoud object that I would like to save as an image. The pictures serve my CNN as input.
The Images For this I have the following code:

`import os
import matplotlib.p
import pyntcloud
from pyntcloud import PyntCloud

#Path to CropedPoinCloud
path_incloud = r"C:\Users\RoosDan\Documents\Python\Dateien\testOutputs

[2020-07-02 15:38] Dource opened #285 "save view as image"
**Is your feature request related to a problem? Please describe.**
Hello,
I have a PointCLoud object that I would like to save as an image. The pictures serve my CNN as input.
For this I have the following code:

`import os
import matplotlib.p
import pyntcloud
from pyntcloud import PyntCloud

#Path to CropedPoinCloud
path_incloud = r"C:\Users\RoosDan\Documents\Python\Dateien\testOutputs"
file_name

[2020-07-02 15:39] #284 closed

[2020-08-31 12:05] daavoo commented on #281
Hola @Ciaran1981!

The [pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) stored at `Pyntcloud.points` can be modified as you wish. A new `scalar_field` can be considered in this case a new column of this pandas DataFrame so you can just add the column as follows:

[code]

[2020-08-31 12:09] daavoo commented on #282
Hola @christianbrugger! Sorry for the confusion, the minimum required Python version is 3.6. I have updated the setup.py accordingly and will update the documentation and release.

[2020-08-31 12:09] #282 closed

[2020-09-01 09:22] Ciaran1981 commented on #281
Ah yes I discovered this after I asked the question and forgot to update. Thanks for clarifying. Great lib!

[2020-09-10 16:09] #281 closed

[2020-09-10 16:12] #234 closed

[2020-09-10 16:14] #159 closed

[2020-09-10 16:14] #217 closed

[2020-09-10 16:15] #196 closed

[2020-09-16 17:48] GainiK opened #286 "Normals information of pointcloud is not saved during voxelization"
I have the pointcloud with normals, but after the voxelization, the generated voxel grid has no normals. Is it the expected behavior?

[2020-09-16 17:56] GainiK commented on #286
Currently the code is:

cloud = PyntCloud.from_instance("open3d", pcd)
voxelgrid_id = cloud.add_structure("voxelgrid", n_x = 80, n_y = 80, n_z=32, regular_bounding_box=False)
voxelgrid = cloud.structures[voxelgrid_id]

But my cloud points has xyz, rgb and nxnynz values

[2020-09-24 04:18] dependabot-preview[bot] opened #287 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/daavoo) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/daavoo/update-logs/48527760).

[2020-09-25 14:35] DustinReagan commented on #255
@haoliangjiang

Here is how I fit an open3d pointcloud to a plane using RANSAC:

[code]

[2020-09-28 04:13] #287 closed

[2020-10-02 17:22] daavoo opened #289 "Support pylas as alternative for reading .las/.laz format"
TBD

[2020-10-04 19:42] enied27 opened #290 "Convex hull not fitting well to my data"
Greetings!

I think my issue is not a bug or a feature request; I am looking for help with a problem for my specific data set and how I am setting up the problem.

I have a point cloud in CSV format (I uploaded it as .xlsx because Github wouldn't let me upload a .csv):

[deposit.xlsx](https://github.com/daavoo/pyntcloud/files/5324170/deposit.xlsx)

This is (X,Y,Z) data from a scanner that describe

[2020-10-06 17:38] cravisjan97 opened #292 "Calculate height from base of a 3D point cloud"
I am finding it difficult to find an algorithm to calculate the height of a 3D shape given a point cloud. This feature is useful for many shape analysis operations

[2020-10-06 17:40] #289 closed

[2020-10-08 06:06] daavoo commented on #290
Hola @enied27 ! Thanks for the detailed question.

The Convex Hull is working as expected (https://en.wikipedia.org/wiki/Convex_hull), however it is a very limited algorithm for recovering the triangle mesh and relying on that for computing volume. The shape and distribution of your shared point cloud is just not a good fit for this approximation.

For this kind of data you could either use:
- a m

[2020-10-09 10:42] daavoo commented on #286
Hola @GainiK ! Sorry for the late response.

It is indeed the expected behaviour, we don't currently implement a way of computing the normals for each voxel. It would be a nice addition to have.

[2020-10-09 10:59] daavoo commented on #292
I'm not sure if I'm fully understanding the question but I think that you could get the height by computing the (maximum - minimum) of the `z` coordinate as follows:

[code]

[2020-11-18 17:51] AndreV84 opened #293 "could you help out converting it to .obj, please?"
https://storage.googleapis.com/nvidia-dev/113620.ply
At my end I either get the points lost or the color lost with conversion
`[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

[2020-11-18 17:57] AndreV84 commented on #293
https://github.com/IntelRealSense/librealsense/issues/7800#issuecomment-729831606

[2020-11-18 18:32] daavoo commented on #293
Hola @AndreV84 , I'm afraid that pyntcloud does not currently supports reading/writing to/from `.obj` files with per-vertex color information.

As far as I remember when adding the `.obj` code, vertex coloring is not considered part of the format "standard" and it is only supported by a few applications (i.e. Meshlab).

Looking at how it appears to be implemented in Meshlab (https://gamedev.stacke

[2020-11-18 18:44] daavoo commented on #293
I was feeling hacky so I think that you could use the following:

[code]

[2020-11-18 18:46] AndreV84 commented on #293
Thank you very much!
It seems I was able to export ply to obj with meshlab.
I can visualize the obj in meshlab.
Not sure if it wil get drawn in other visualizers though.

Could you elaborate on how to visualize from terminal with the python tool? I never got any window to pop up

[2020-11-18 18:54] daavoo commented on #293
If you want to visualize directly from the terminal, you need to first install matplotlib (`pip install matplotlib`). And then:

[2020-11-18 19:05] AndreV84 commented on #293
Thank you very much!

[2020-11-19 11:41] #293 closed

[2020-11-19 18:32] daavoo commented on #272
Hola @cell-a I think that you can now do what you needed installing pyntcloud from the current `master` branch:

[code]

[2020-11-19 18:35] #272 closed

[2020-11-19 18:39] daavoo commented on #283
Hola @OloOcki Could you share with me some details about how to replicate the installation enviroment where you are finding the issue?

[2020-11-28 12:04] OloOcki commented on #283
Hi,
Actually the problem is solved - it was on the FME side.
Please find the solution [here ](https://community.safe.com/s/question/0D54Q000080hdLQSAY/python-external-package-installation-problem).

[2020-11-28 12:09] daavoo commented on #283
Glad to hear that! Thanks for linking the solution

[2020-11-28 12:09] #283 closed

[2020-12-03 20:47] Zumbalamambo opened #296 "Retrieve the 3D point"
How can I retrieve 3D point based on the 2D coordinate of the depth image?

[2020-12-08 16:25] P-Light opened #297 "Empty render scene in jupyter notebook"
**Describe the bug**
In notebook:
[code]
It returns render scene filled with selected color (black is default).

Jupyter logs:
[code]
In browser console:
[code]
With backend="threejs" same problem, but no render scene is shown.

**Expected behavior**
Render scene with colored point cloud.

**Screenshots**
![image](https://user-images.githubusercontent.com/23196111/101510230-b92df900-398a-11eb-884c

[2020-12-30 17:52] FuriouslyCurious commented on #276
I also have the same issue - extension is enabled, and shows basic controls but plotting fails with message `"Error displaying widget: model not found"`

[2021-01-18 22:36] ThorJonsson commented on #297
I think I have the same issue.

[2021-02-01 08:58] mserouar opened #298 "Argument to know which point goes in which voxel"
Hello,

I don't know if it exists yet, but why not extracting in a file the xyz position of each points and their linked voxel.
To know which points contain a voxel. Maybe in add_structure.

Congrats

[2021-02-01 09:52] daavoo commented on #298
There is already a `scalar_field` that contains that information. You would need to first add a voxelgrid:
[code]

[2021-02-01 09:56] daavoo commented on #298
Feel free to re-open if you consider that the question has not been properly answered

[2021-02-01 09:56] #298 closed

[2021-02-11 22:29] khaiyichin commented on #245
Hi @daavoo, I have the exact error, but on a Ubuntu 20.04 system. Since this hasn't been addressed I thought I could provide an example file [cafe.zip](https://github.com/daavoo/pyntcloud/files/5968762/cafe.zip) that you can use to replicate the error.

I simply loaded the `cafe.obj` file and the error described by @beyondzzz appears (the one related to `read_obj`)
[code]

The `pyntcloud` package

[2021-03-10 11:16] nikhilpatil99 opened #301 "."

[2021-03-17 10:09] nikhilpatil99 opened #302 "?"

[2021-03-18 04:55] #302 closed

[2021-03-19 09:35] #301 closed

[2021-04-08 17:21] soulslicer commented on #268
is there a version of pyntcloud that supports 3.5?

[2021-05-17 20:59] letatanu commented on #297
I also have the same problem. It was working well until I set up another environment.

[2021-05-19 23:52] ryangoss opened #304 "TypeError: 'float' object cannot be interpreted as an integer"
https://github.com/daavoo/pyntcloud/blob/eade21fb4840788337cafe375768b44f454f22bc/pyntcloud/io/obj.py#L61

Example data in `obj` to create failure:
`f 48923/1/48923 48922/2/48922 48125/3/48125`

[2021-05-20 15:49] ryangoss opened #305 "PTS Header Incorrect"
https://github.com/daavoo/pyntcloud/blob/eade21fb4840788337cafe375768b44f454f22bc/pyntcloud/io/ascii.py#L42

`write_ascii` is used for `asc, csv, pts, txt, xyz` and I think it is correct for all of them except `pts`.  See http://paulbourke.net/dataformats/pts/. When I attempt to open the `<file>.pts` in another viewer I get `Read PTS failed: unable to read header.` and I believe that is because it

[2021-05-21 10:49] daavoo commented on #305
Hola @ryangoss . Thanks for the explanation. It looks like some minor changes would need to be added to `write_ascii` in order to properly support the  `.pts` format

[2021-06-01 19:24] kidpaul94 opened #306 "KeyError: 'curvature(K(16))'"
**Describe the bug**
I was trying to exactly replicate the code here on stackoverflow:
https://stackoverflow.com/questions/42476839/is-gaussian-mean-curvatures-applicable-for-rough-surfaces/42489903?noredirect=1#comment72136158_42489903

And the following command gives an error:
curvature = cloud.points["curvature(K(16))"]
raise KeyError(key) from err
KeyError: 'curvature(K(16))'

**Expected behav

[2021-06-01 22:29] kidpaul94 commented on #306
Never mind, I figured out.

[2021-06-01 22:29] #306 closed

[2021-06-04 08:31] daavoo commented on #306
Hola @kidpaul94 , what was the fix?? Using `"curvature(K(10))"¿

[2021-06-04 17:55] kidpaul94 commented on #306
cloud.add_scalar_field("curvature", ev=ev) gave me curvature(11), so I used that.

[2021-07-07 12:05] #245 closed

[2021-07-07 12:05] #304 closed

[2021-07-20 09:44] wwwouter opened #308 "Binder failing"
**Describe the bug**
Binder install fails:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mybinder.org/v2/gh/daavoo/pyntcloud/master
2. Wait a bit
3. See error

**Expected behavior**
Working notebook

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Mac
 - Browse: Chrome
 - Ver

[2021-09-30 17:11] Nicholas-Mitchell opened #309 "Add support for `bool` type in PLY files"
**Is your feature request related to a problem? Please describe.**

`PyntCloud.from_file()` fails if the PLY contains a `bool` type, [which occurs here in `io/ply.py`](https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/io/ply.py#L106).

This is because there is no mapping for `bool` types in the `ply_dtypes` dictionary:

[code]

The mapping of `'?'` to `bool` is shown [here under "one-chara

[2021-10-28 14:35] ammaryasirnaich opened #310 "anky.plot(mesh=True, backend="threejs") showing black canvas only"
I am trying to run the VoxelGrid example but when i run the cell at the Setup part in the python file to display the "ankylosaurus_mesh.ply" it shows a black blank figure any idea what it causing it
![blankscreen](https://user-images.githubusercontent.com/5053086/139278009-7264eff1-f74f-46c5-bc62-2f98f19e6612.png)

[2021-11-07 21:43] jkissi opened #311 "manual normals calculation from Pyntcloud.points object"
Hello
I have  a problem when load .pcd files.` PyntCloud.from_file() `does not automatically create normals from .pcd files as it does from .ply files. I have tried to manually load my point data into a PyntCloud object using

`cloud = PyntCloud(points)`

However the resulting dataframe only consists of the x y z coordinates and not the normal vectors, which I also need. Can you show an example of

[2021-11-09 14:45] daavoo commented on #311
Hola @jkissi !

Unfortunately, there is no support for *oriented* normals, only *unoriented* which can be computed as follows:

[code]

However, if your point cloud file already contains normal information, it looks like the way to go should be to extend [`read_pcd`](https://github.com/daavoo/pyntcloud/blob/master/pyntcloud/io/pcd.py) to correctly parse the normals from the file.

Alternatively (o

[2021-11-09 14:58] daavoo commented on #310
Does `backend="pythreejs"` works for you?

[2021-11-09 15:01] daavoo commented on #309
I guess that the main issue here would be that `pyntcloud` could be potentially reading/writing PLY files that are not valid in any other point cloud software (or at least not those following the official PLY specification).

Probably using `npz` format would be the way to go when looking for full `NumPy` compatibility.

[2021-11-09 18:42] ammaryasirnaich commented on #310
I tried to but I think it doesnt support "pythreejs" yet. Getting an Error while doing it
![Error](https://user-images.githubusercontent.com/5053086/140984781-9c1d4078-8a55-42be-83d3-42de015b8bd2.png)

[2021-11-09 18:49] ammaryasirnaich commented on #310
However, i did simply `anky.plot(point_size=1)` which actually work for me

[2021-12-04 16:23] olav2021 opened #317 "obj output not recognized by opencascade"
Hello,

transforming ply into obj looks resulting n this:

v 0.61253494 0.64454913 1.6859013
v 0.6138656 0.6361233 1.6881652
v 0.6098581 0.6328063 1.6720066
v 0.6104483 0.6368164 1.6767569
v 0.6104662 0.6435574 1.6796639
....

But somehow is this obj format not recognizd by the oencascade app for android.

What am I doing wrong if I want to have an obj file?

[2021-12-16 06:08] Lyhour-Chhay opened #320 "How to calculate the back fill volume in point cloud ?"
### Discussed in https://github.com/daavoo/pyntcloud/discussions/319

<div type='discussions-op-text'>

<sup>Originally posted by **Lyhour-Chhay** December 13, 2021</sup>
I appreciate your much effort for conducting this work. I want to calculate the back fill volume into the hole of point cloud. I will show you in the picture. I have been constructed the 3D point cloud of pavement texture as show

[2022-01-01 17:39] Nicholas-Mitchell commented on #309
@daavoo - if you don't want to include this feature (behind a flag or otherwise), shall we close this issue?

[2022-01-03 12:24] daavoo commented on #309
I have no strong opinion @Nicholas-Mitchell . If someone sends P.R. and makes sense, (i.e. doesn't break default behavior) I would happily merge

[2022-01-03 17:05] Nicholas-Mitchell commented on #309
@daavoo  I have opened a PR: https://github.com/daavoo/pyntcloud/pull/321

Will close this issue and continue any discussion in the PR.

[2022-01-03 17:05] #309 closed

[2022-01-06 12:42] rsj007 commented on #219
I also meet this issue. Have you solved it?

[2022-02-02 16:00] justinmcgrath opened #324 "pyntcloud.get_filter prints to the console."
**Describe the bug**
Calling get_filter() on a pyntcloud object causes things to be printed to the console. Functions should not print to the console, as then it is difficult for the user to control what is displayed.

**To Reproduce**
[code]

**Expected behavior**
If there is no problem, nothing should be printed. Relevant information should be returned and the user chooses what to print.

**Scre

[2022-02-02 18:47] #324 closed

[2022-02-17 12:51] trinhnhut-gif opened #326 "How could calculate the standard deviation of point normal?"
Hello all,
I am doing with my research. I have point cloud data with normal values of each point. Then I want to calculate the standard deviation of point normal values within the point's K neighborhood is computed.
So could I use pyntcloud to calculate that?
Thank you so much

[2022-04-19 14:32] johnthagen commented on #270
Related to #132

[2022-04-24 22:30] AndreiMiculita opened #328 "Sampling a partial view point cloud from a mesh"
I see the documentation doesn't touch upon this.

I had a look at https://github.com/daavoo/pyntcloud/blob/master/examples/%5Bvisualization%5D%20PyntCloud.ipynb

Which mentions some nonexistent `examples/[io]` and `examples/[sampling]` notebooks.

Unfortunatel, the method `get_sample` doesn't mention anything about partial views either.

Is there some way to obtain a partial view of a mesh as a po

[2022-05-11 10:11] ferdymercury opened #329 "Problem with Rhinos 6 ply files"
**Describe the bug**
There are some problems in opening these Rhinos files, apparently issues with line endings:
https://github.com/cnr-isti-vclab/meshlab/files/3330082/Box.ply.zip
https://github.com/cnr-isti-vclab/meshlab/files/4837381/box_v6.ply.zip

**To Reproduce**
`cloud = PyntCloud.from_file('....')`

**Expected behavior**
It might be interesting to follow the strategy of the PLYFILE reposit

[2022-05-27 06:53] SBCV opened #331 "Bug in convert_color_to_dtype() in read_las()"
**Describe the bug**
When running `PyntCloud.from_file(las_file_path)` I receive a point cloud with black color values. But it works when running `laspy` directly.
This bug is caused by
https://github.com/daavoo/pyntcloud/blob/4d7928c09a81a59be308ed4bd10b3431dc812127/pyntcloud/io/las.py#L39-L40

The reason is that [`laspy 2.0`](https://github.com/daavoo/pyntcloud/pull/330) and `pylas` use color va

[2022-05-27 11:05] SBCV commented on #331
According to one of the author of laspy:

So I guess, the most reasonable approach would be (like he proposed) to adjust the values according to their distribution (max value). What do you think?

[2022-05-27 11:07] daavoo commented on #331
Sounds reasonable. Thanks for looking into this 🙏

[2022-05-27 11:18] SBCV commented on #331
Want me to create a PR? Or are you fixing this yourself?

[2022-05-27 12:29] daavoo commented on #331
If you can create PR would be great. I don't have the time right now for it

[2022-06-14 01:19] nokonoko1203 opened #333 "The logic of `io.las.read_las_with_laspy()` may not meet the las data specification."
Hello. Thanks for the nice library!
I think I may have found a bug, could you please check?

**Describe the bug**
The logic of `io.las.read_las_with_laspy()` may not meet the las data specification.
https://github.com/daavoo/pyntcloud/blob/c9dcf59eacbec33de0279899a43fe73c5c094b09/pyntcloud/io/las.py#L46

**To Reproduce**
Steps to reproduce the behavior:
- Download point cloud data (.las) of Kakega

[2022-06-14 08:58] daavoo commented on #333
Hola @nokonoko1203 ! Thanks for reporting.

It looks OK to me, don't hesitate on opening the P.R.

[2022-06-14 12:00] nokonoko1203 commented on #333
@daavoo Thanks for checking!

[2022-06-15 03:15] tornadomeet opened #334 "write pcd?"
```to_file()``` does not support ```.pcd```, any plan for this?  thanks!

[2022-06-15 06:02] nokonoko1203 commented on #333
However, it does not affect the part I am modifying, so I have created a PR.
Please confirm.
https://github.com/daavoo/pyntcloud/pull/335

[2022-06-28 10:30] daavoo opened #336 "Add `jupythree` as an option for plotting"
Add new backend using https://github.com/groscot/jupythree

[2022-06-30 20:46] jiapei-nexera opened #337 "Enlarge the size of a point in point cloud"
For some point cloud that I loaded, it looks **over sparse**. I actually do **NOT** wanna it to look **that dense**. I just expect it those points can have a **larger size**. Is it possible? And, is there any other workarounds??

[2022-06-30 21:00] jiapei-nexera commented on #337
PyntCloud didn't show with the following message

`Backend GTK4Agg is interactive backend. Turning interactive mode on.`

[2022-08-19 13:57] imnileshd commented on #290
Could you please share the code for this?

[2022-09-16 15:23] daavoo commented on #337
Hi @jiapei-nexera . Could you share some more info regarding your environment? What's is the code generating the error?

[2022-09-16 15:31] MHSiebers opened #340 "I have not been able to apply the SOR filter."
I am running pyntcloud 0.3.1 and have not been able to get the SOR filter to work. I had it running previously and am wondering if a scipy update or other update affected the kdtree or SOR.

I am still able to produce a point cloud but it appears unfiltered. Changing the z_max value has no effect.

[2022-09-21 01:20] #340 closed

[2022-09-21 08:30] daavoo commented on #340
Hola @MHSiebers ! Sorry for late response, was the issue resolved? If not, could you share more details by sharing the code causing the error and/or the traceback?

[2022-10-11 07:24] trinhnhut-gif opened #341 "Have a bug when using with spicy1.9.0"
Hello,
when I was using spicy1.9.0, pyntcloud had a bug like the one below. Could you give me some suggestions? Thank you
![image](https://user-images.githubusercontent.com/85855232/195022362-1c57dd00-850e-4c04-933c-70e5d984295b.png)

[2022-10-11 07:33] trinhnhut-gif commented on #341
I have a solution, find k_neighbors.py in pyntcloud and change **n_jobs** to **workers**

[2022-10-11 09:35] daavoo commented on #341
@trinhnhut-gif Which `pyntcloud` version are you using? It should work in latest version

[2022-10-11 12:53] trinhnhut-gif commented on #341
I have installed the newest version and it worked successfully. Thank you so much

[2022-10-11 12:53] #341 closed

[2022-10-25 10:28] mserouar commented on #298
Just a quick thing, actually I'm more interested in linking voxels centers coordinates (in grids) with voxel class and then join with original point cloud. Is there a way to do it ?

[2022-11-02 23:43] qenops commented on #270
Any progress on this? With pypcd not being actively developed and not working in python3, and open3d not supporting scalar fields, I was hoping pyntcloud would be the solution, but not being able to write out the data is a blocker. :(

[2022-11-04 17:28] mac-1117 opened #342 "conda-script.py: error: unrecognized arguments: nltk - Jupiter Notebook"
Hello everyone. I am trying to download nltk into my notebook but get an error message everytime.

Here is what I input
conda install -c conda-forge nltk

Here is the error message I see everytime.
Note: you may need to restart the kernel to use updated packages.
usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: nltk

I have tried reseting the Kernal, clo